<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div style="margin-top:100px; min-width:300px" class="container col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-body">
        <div style = "float:right">
          <div style="display:inline-block"><img class="profile-img" src="http://www.burpple.com/img/logo.png" height="100" width ="100"></div>
        </div>
        <div style="display:inline-block"><h3>Sign Up</h3></div>
      </div>
    </div>
    <div class="row" style="margin:5px">
      <div class="col-lg-6">
        <br/><br/>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email%>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @validatable %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-lg btn-danger" %>
            </div>
        <% end %>
        Already a member?<%= link_to "Log In!", new_session_path(resource_name) %><br />
        <br>
      </div>
    </div>
  </div>
</div>
