<div id="venue_chart" style="min-width: 310px; height: 400px; margin: 0 auto; overflow-x: auto"></div>

<footer>
  <script>
      $(document).ready(function () {
          $('#venue_chart').highcharts({
              chart: {
                  type: 'column',
                  reflow: false
              },
              exporting: {
                  filename: 'Popularity of Venues ' + new Date().toDateString(),
                  scale: 1,
                  sourceWidth: 1289,
                  sourceHeight: 400
              },
              credits: {
                  enabled: false
              },
              title: {
                  text: 'Popularity of Venues'
              },
              subtitle: {
                  text: 'Redemption Count'
              },
              yAxis: {
                  allowDecimals: false,
                  min: 0,
                  title: {
                      text: 'Number of Redeems'
                  }
              },
              xAxis: {
                  type: 'category'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'top',
                  y: 30
              },
              plotOptions: {
                  series: {
                      dataLabels: {
                          enabled: true,
                          align: 'center',
                          color: '#000000',
                          crop: false,
                          overflow: 'none'
                      },
                      maxPointWidth: 150,
                      groupPadding: 0.1
                  }
              },
              series: [
                  <% loop = 0 %>
                  <% num_of_venues = @deals_by_venue.size%>
                  <% while loop < num_of_venues %>
                  <% redeem_placement = @deals_by_venue[loop].size - 1 %>
                  {
                      name: "<%= @deals_by_venue[loop][0] %>",
                      data: [
                          {
                              name: "Venues",
                              y: <%= @deals_by_venue[loop][redeem_placement] %>,
                              drilldown: "<%= @deals_by_venue[loop][0] %>" + " redeem",
                              dataLabels: {
                                  format: '<%= @deals_by_venue[loop][0] %><br/>' + " " + '<span style="color: #F10DAA"><%= @deals_by_venue[loop][redeem_placement] %> Redemptions </span>'
                              }
                          }
                      ]
                  },
                  <% loop = loop + 1 %>
                  <% end %>
              ],
              drilldown: {
                  drillUpButton: {
                      position: {
                          y: -45,
                          x: 0
                      },
                      theme: {
                          fill: 'white',
                          'stroke-width': 1,
                          stroke: 'silver',
                          r: 0,
                          states: {
                              hover: {
                                  fill: '#bada55'
                              },
                              select: {
                                  stroke: '#039',
                                  fill: '#bada55'
                              }
                          }
                      }

                  },
                  series: [
                      <% loop = 0 %>
                      <% while loop < num_of_venues %>
                      {
                          name: "Redemption Count",
                          id: "<%= @deals_by_venue[loop][0] %>" + " redeem",
                          data: [
                              <% inner_loop = 1 %>
                              <% num_of_deals = @deals_by_venue[loop].size - 1 %>
                              <% while inner_loop < num_of_deals %>
                              [
                                  "<%= @deals_by_venue[loop][inner_loop][0] %>", <%= @deals_by_venue[loop][inner_loop][1] %>
                              ],
                              <% inner_loop = inner_loop + 1 %>
                              <% end %>
                          ]
                      },
                      <% loop = loop + 1 %>
                      <% end %>
                  ]
              }
          });
      });
  </script>
</footer>