<p> Dear Valued Merchant!</p><br/>

<p>You have successfully redeemed <b><%= @gift.name %></b> from Burpple!</p>
<p>Your gift redemption ticket is: <strong><%= @gift.id %></strong></p>
<p>Please present this email to collect your gift at Burpple HQ. We are located at: <a href="https://www.google.com/maps?daddr=1.308948,103.857547">213 Jalan Besar, Singapore 208897</a> </p>

<p>You have spent <b><%= @gift.points %> Burps</b> and have <b><%= @points_left - @gift.points%> Burps</b> left!</p>

<p>To redeem more gifts on Burpple, follow this link: <%= @url %> </p>

<p>Thank you for using Burpple. Have a nice day!</p>

<p>Best regards,</p>
<p>Burpple</p>