<p>Dear <%= @user %>!</p>

<p>You have successfully redeemed <b><%= @gift_name %></b> from Burpple!

<br>
  You have spent <b><%= @gift_points %> Burps</b> and have <b><%= @points_left %> Burps</b> left!
</p>

<p>To redeem more gifts on Burpple, follow this link: https://amazingcodersrails.herokuapp.com<%= @url %>
  <br>
  Thank you for using Burpple. Have a nice day!</p>

<p>Best regards,<br>
Dixon</p>