<div id="deal_type" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<footer>
  <!--Pie Chart-->
  <script>
      $(function () {
         var chart = new Highcharts.Chart({
              credits: {
                  enabled: false
              },
             chart: {
                 type: 'pie',
                 renderTo: 'deal_type',
                 events: {
                     drilldown: function(e) {
                         chart.setTitle({ text: "Popularity of Deal of Deal Type " + e.point.name });
                     },
                     drillup: function(e) {
                         chart.setTitle({ text: 'Popularity of Deal Types' });
                     }
                 }
             },
              title: {
                  text: 'Popularity of Deal Types'
              },
              subtitle: {
                  text: 'Redemption Count'
              },
              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%</b> of total<br/>',
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      depth: 35,
                      dataLabels: {
                          enabled: true,
                          format: '{point.name} {point.y} redemptions'
                      },
                      showInLegend: true
                  }
              },
              series: [{
                  name: "Deal Type",
                  colorByPoint: true,
                  data: [
                      <% num_of_deal_types = @deals_popularity_by_type_and_redemption.size %>
                      <% loop = 0 %>
                      <% while loop < num_of_deal_types %>
                          <% last_variable = @deals_popularity_by_type_and_redemption[loop].size - 1 %>
                              {
                                  name: "<%= @deals_popularity_by_type_and_redemption[loop][0] %>",
                                  y: <%= @deals_popularity_by_type_and_redemption[loop][last_variable]%>,
                                  drilldown: "<%= @deals_popularity_by_type_and_redemption[loop][0] %>"
                              },
                          <% loop = loop + 1 %>
                      <% end %>
                  ]
              }],

              drilldown: {
                  series: [
                      <% loop = 0 %>
                      <% while loop < num_of_deal_types %>
                        <% num_of_deal_in_deal_type = @deals_popularity_by_type_and_redemption[loop].size - 1 %>
                        <% inner_loop = 1 %>
                          {
                          name: "<%= @deals_popularity_by_type_and_redemption[loop][0] %>",
                          id: "<%= @deals_popularity_by_type_and_redemption[loop][0] %>",
                          data: [
                                  <% while inner_loop < num_of_deal_in_deal_type %>
                                    ["<%= @deals_popularity_by_type_and_redemption[loop][inner_loop][0] %>", <%=@deals_popularity_by_type_and_redemption[loop][inner_loop][1] %>],
                                    <% inner_loop = inner_loop + 1 %>
                                  <% end %>
                          ]
                          },
                          <% loop = loop + 1 %>
                      <% end %>
                  ]
              }
          });
      });
  </script>
</footer>