<%= render 'layouts/biz/dash' %>
<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title">Deal Analytics</p>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <!-- Content Body -->
    <%= render :partial => 'analytics_count' %>
    <%= render :partial => 'deal_type' %>


  </div><!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>


