<%= render 'layouts/biz/dash' %>
<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title">Deal Analytics</p>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <!-- Content Body -->
    <div class = "well col-lg-6 col-lg-offset-3" style="text-align: center; font-weight: bold">
      <p>Sorry, you have not listed any venues yet. You can list a venue <%= link_to 'here', new_venue_path %>.</p>
      <p>Also do ensure you have at least one active or expired deal else there won't be data shown.</p>
    </div>

  </div><!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>


