<%= render 'layouts/biz/dash' %>
<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title">Aggregate Trends</p>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <!-- Content Body -->
    <!--TODO: VIEW Render partials only for merchants with access-->
    <%= render :partial => 'analytics/deal/wishlist_to_views' %><br>
    <%= render :partial => 'analytics/deal/views_to_redemption' %><br>
    <%= render :partial => 'analytics/deal/multiple_redeems' %><br>
    <%= link_to 'Back to Analytics', analytics_path, class: "btn btn-big btn-info" %>

  </div>
  <!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>


