<%= render 'layouts/biz/dash' %>
<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b3 content-title">Analytics for <%= @deal.title %></p>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <!-- Content Body -->
    <% if @payment.add_on1 && @deal.pushed && DealAnalyticService.get_wishlist_to_views(@deal.id) != 'nil' %>
        <%= render :partial => 'analytics/deal/wishlist_to_views' %><br>
    <% end %>
    <% if @deal.redeemable && (@deal.start_date <= Date.today) %>
        <%= render :partial => 'analytics/deal/views_to_redemption' %><br>
        <%= render :partial => 'analytics/deal/multiple_redeems' %><br>
    <% end %>
    <div style="text-align:center">
      <%= link_to 'Back to Analytics', analytics_path, class: "btn btn-big btn-info" %>
    </div>
  </div>
  <!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>


