<div class="col-lg-12">
  <div class="panel-group" id="accordion">
    <div class="panel panel-primary">
      <div class="panel-heading panel-heading-custom">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseOne">
            Active Deals
            <span class="glyphicon glyphicon-triangle-bottom"></span>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <% have_active_deal = false %>
            <% @deals.each do |deal| %>
                <% if (deal.expiry_date.future?|| deal.expiry_date.today?) && deal.active %>
                    <% have_active_deal = true %>
                    <% break %>
                <% end %>
            <% end %>
            <% if have_active_deal %>
                <tr>
                  <th>Title</th>
                  <th style="text-align: center; width: 15%">% of wishlisters that have viewed the deal</th>
                  <th style="text-align: center; width: 15%">% of users that redeem the deal after viewing it</th>
                  <th style="text-align: center; width: 15%">Percentage/Number of users who redeem more than once</th>
                  <th style="text-align: center; width: 15%">Average number of redemptions for users who redeemed multiple times</th>
                  <th style="text-align: center; width: 15%">Average time span between consecutive redemptions by a user</th>
                  <th colspan="1"></th>
                </tr>

                <% @deals.each do |deal| %>
                    <% if (deal.expiry_date.future?|| deal.expiry_date.today?) && deal.active %>
                        <tr>
                          <td><%= deal.title %></td>
                          <% if @payment.add_on1 && deal.pushed %>
                              <% wishlist_view = DealAnalyticService.get_wishlist_to_views(deal.id) %>
                              <% if wishlist_view == 'N/A' %>
                                  <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="As you have no wishlisters when you pushed your deal, data cannot be gathered">N/A</p></td>
                              <% else %>
                                  <td style="text-align: center;"><%= wishlist_view %>%</td>
                              <% end %>
                          <% elsif @payment.add_on1 && !deal.pushed %>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not been pushed hence, data cannot be gathered">N/A</p></td>
                          <% else %>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="You have not purchased the Push Notification addon, hence you cannot view this">N/A</p></td>
                          <% end %>

                          <% if deal.redeemable && (deal.start_date <= Date.today) %>
                              <% percentage_views = DealAnalyticService.get_views_to_redeem(deal.id) %>
                              <% if percentage_views == 'No Views Yet' %>
                                  <td style="text-align: center;"> <%= percentage_views %></td>
                              <% else %>
                                  <td style="text-align: center;"> <%= percentage_views %>%</td>
                              <% end %>
                              <% percentage_redeems = DealAnalyticService.get_multiple_redeems_percentage(deal.id) %>
                              <% if percentage_redeems[0] == 'No Redeems Yet' %>
                                  <td style="text-align: center;"> <%= percentage_redeems[0] %></td>
                              <% else %>
                                  <td style="text-align: center;"> <%= percentage_redeems[0] %>% = <%= percentage_redeems[1] %> Users</td>
                              <% end %>
                              <td style="text-align: center;"> <%= DealAnalyticService.average_redemption_multiple_users(deal.id, percentage_redeems[2]) %></td>
                              <td style="text-align: center;"> <%= DealAnalyticService.average_time_btw_multiple_redeem(deal.id, percentage_redeems[2]) %></td>
                          <% elsif deal.redeemable && (deal.start_date > Date.today)%>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                          <% else %>
                              <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                              <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                              <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                              <td>.<p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                          <% end %>
                          <td>
                            <%= link_to 'Show Deal', deal_path(deal), class: "btn btn-xs btn-success" %>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
            <% else %>
                <div class = "well col-lg-12" style="text-align: center; font-weight: bold">
                  <p>Oops! You do not have any active deals!</p>
                </div>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading panel-heading-custom">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseTwo">Expired
            Deals<span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <% have_expired_deal = false %>
            <% @deals.each do |deal| %>
                <% if deal.expiry_date.past? && deal.active %>
                    <% have_expired_deal = true %>
                    <% break %>
                <% end %>
            <% end %>
            <% if have_expired_deal %>
                <th>Title</th>
                <th style="text-align: center; width: 15%">% of wishlisters that have viewed the deal</th>
                <th style="text-align: center; width: 15%">% of users that redeem the deal after viewing it</th>
                <th style="text-align: center; width: 15%">Percentage/Number of users who redeem more than once</th>
                <th style="text-align: center; width: 15%">Average number of redemptions for users who redeemed multiple times</th>
                <th style="text-align: center; width: 15%">Average time span between consecutive redemptions by a user</th>
                <th colspan="1"></th>
                </tr>

                <% @deals.each do |deal| %>
                    <% if deal.expiry_date.past? && deal.active %>
                        <tr>
                          <td><%= deal.title %></td>
                          <% if @payment.add_on1 && deal.pushed %>
                              <% wishlist_view = DealAnalyticService.get_wishlist_to_views(deal.id) %>
                              <% if wishlist_view == 'N/A' %>
                                  <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="As you have no wishlisters when you pushed your deal, data cannot be gathered">N/A</p></td>
                              <% else %>
                                  <td style="text-align: center;"><%= wishlist_view %>%</td>
                              <% end %>
                          <% elsif @payment.add_on1 && !deal.pushed %>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not been pushed hence, data cannot be gathered">N/A</p></td>
                          <% else %>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="You have not purchased the Push Notification addon, hence you cannot view this">N/A</p></td>
                          <% end %>
                          <% if deal.redeemable && (deal.start_date <= Date.today) %>
                              <% percentage_views = DealAnalyticService.get_views_to_redeem(deal.id) %>
                              <% if percentage_views == 'No Views Yet' %>
                                  <td style="text-align: center;"> <%= percentage_views %></td>
                              <% else %>
                                  <td style="text-align: center;"> <%= percentage_views %>%</td>
                              <% end %>
                              <% percentage_redeems = DealAnalyticService.get_multiple_redeems_percentage(deal.id) %>
                              <% if percentage_redeems[0] == 'No Redeems Yet' %>
                                  <td style="text-align: center;"> <%= percentage_redeems[0] %></td>
                              <% else %>
                                  <td style="text-align: center;"> <%= percentage_redeems[0] %>% = <%= percentage_redeems[1] %> Users</td>
                              <% end %>
                              <td style="text-align: center;"> <%= DealAnalyticService.average_redemption_multiple_users(deal.id, percentage_redeems[2]) %></td>
                              <td style="text-align: center;"> <%= DealAnalyticService.average_time_btw_multiple_redeem(deal.id, percentage_redeems[2]) %></td>
                          <% elsif deal.redeemable && (deal.start_date > Date.today)%>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                              <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                          <% else %>
                              <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                              <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                              <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                              <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                          <% end %>
                          <td>
                            <%= link_to 'Show Deal', deal_path(deal), class: "btn btn-xs btn-success" %>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
            <% else %>
            <div class = "well col-lg-12" style="text-align: center; font-weight: bold">
              <p>Oops! You do not have any expired deals!</p>
            </div>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="bsJs" type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<style>
    p#untracable {
        text-align: center;
        color: #ea1218;
        font-weight: bold;
    }


    .panel-primary > .panel-heading-custom {
        background: #ea1f6c;
        color: #fff;
        border-color: #ea1f6c;
    }

    .panel-primary {
        border-color: #ea1f6c;

    }

</style>