<div id="analytics_line" class="col-lg-12" style="padding-bottom: 20px; overflow-x: auto"></div>

<footer>
  <script>
      $(document).ready(function () {
          Highcharts.setOptions({
              global: {
                  useUTC: false
              }
          });
          $('#analytics_line').highcharts('StockChart', {
              credits: {
                  enabled: false
              },
              chart: {
                  reflow: false
              },
              exporting: {
                  filename: 'Cumulative Performance ' + new Date().toDateString(),
                  scale: 1,
                  sourceWidth: 1259,
                  sourceHeight: 400
              },
              title: {
                  text: 'Performance of Deals Across Time Period'
              },
              subtitle: {
                  text: 'Cumulative statistics for the selected time period'
              },
              rangeSelector: {
                  allButtonsEnabled: true,
                  buttons: [{
                      type: 'month',
                      count: 3,
                      text: 'Day',
                      dataGrouping: {
                          forced: true,
                          units: [['day', [1]]]
                      }
                  }, {
                      type: 'year',
                      count: 1,
                      text: 'Week',
                      dataGrouping: {
                          forced: true,
                          units: [['week', [1]]]
                      }
                  }],
                  buttonTheme: {
                      width: 60
                  },
              },

              yAxis: {
                  floor: 0,
                  title: {
                      text: 'Number'
                  }
              },

              plotOptions: {
                  dataLabels: {
                      visible: true
                  }
              },
              tooltip: {
                  pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                  valueDecimals: 2
              },
              legend: {
                  enabled: true,
                  align: 'right',
                  layout: 'vertical',
                  verticalAlign: 'top',
                  y: 100,
                  shadow: true
              },

              series: [
                  <% num_active_deals = @deals_daily_total[0].size %>
                  <% num = 0 %>
                  <% visible = true %>
                  <% while num < num_active_deals %>
                  {
                      id: "<%= @deals_daily_total[0][num][0] %>" + ' (View Count)',
                      name: '<span style="color: #00910c">Active: </span>' + "<%= @deals_daily_total[0][num][0] %>" + '<span style="color: #9d1bcf"> (View Count)</span>',
                      pointStart: <%= @deals_daily_total[0][num][4] %>,
                      pointInterval: 24 * 3600 * 1000,
                      data: <%= @deals_daily_total[0][num][2] %>,
                      visible: <%= visible %>
                  }, {
                      id: "<%= @deals_daily_total[0][num][0] %>" + ' (Redemption Count)',
                      name: '<span style="color: #00910c">Active: </span>' + "<%= @deals_daily_total[0][num][0] %>" + '<span style="color: #eb8100"> (Redemption Count)</span>',
                      pointStart: <%= @deals_daily_total[0][num][1] %>,
                      pointInterval: 24 * 3600 * 1000,
                      data: <%= @deals_daily_total[0][num][3] %>,
                      visible: <%= visible %>
                  },
                  <% visible = false %>
                  <% num = num + 1 %>
                  <% end %>

                  <% num_of_expired_deals = @deals_daily_total[2].size %>
                  <% loops = 0 %>
                  <% while loops < num_of_expired_deals %>
                  {
                      id: "<%= @deals_daily_total[1][loops][0] %>" + ' (View Count)',
                      name: '<span style="color: #df1007">Expired: </span>' + "<%= @deals_daily_total[1][loops][0] %>" + '<span style="color: #9d1bcf"> (View Count)</span>',
                      pointStart: <%= @deals_daily_total[1][loops][4] %>,
                      pointInterval: 24 * 3600 * 1000,
                      data: <%= @deals_daily_total[1][loops][2] %>,
                      visible: false
                  }, {
                      id: "<%= @deals_daily_total[1][loops][0] %>" + ' (Redemption Count)',
                      name: '<span style="color: #df1007">Expired: </span>' + "<%= @deals_daily_total[1][loops][0] %>" + '<span style="color: #eb8100"> (Redemption Count)</span>',
                      pointStart: <%= @deals_daily_total[1][loops][1] %>,
                      pointInterval: 24 * 3600 * 1000,
                      data: <%= @deals_daily_total[1][loops][3] %>,
                      visible: false
                  },
                  <% loops = loops + 1 %>
                  <% end %>
              ]
          }, function (chart) {

              // apply the date pickers
              setTimeout(function () {
                  $('input.highcharts-range-selector', $(chart.container).parent())
                          .datepicker();
              }, 0);
          });

          // Set the datepicker's date format
          $.datepicker.setDefaults({
              dateFormat: 'yy-mm-dd',
              onSelect: function () {
                  this.onchange();
                  this.onblur();
              }
          });
      });
  </script>
</footer>