<div class="col-lg-12">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseOne">Active
            Deals<span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <tr>
              <th>Title</th>
              <th style="text-align: center;">Conversion Rate<br>Wishlisters to Views</th>
              <th style="text-align: center;">Conversion Rate<br>Unique Views to Redemptions</th>
              <th style="text-align: center;">Percentage of users who redeem more than once</th>
              <th style="text-align: center;">Average Time between same User Redemption</th>
              <th colspan="1"></th>
            </tr>

            <% @deals.each do |deal| %>
                <% if (deal.expiry_date.future?|| deal.expiry_date.today?) && deal.active %>
                    <tr>
                      <td><%= deal.title %></td>
                      <td style="text-align: center;"><%= DealAnalyticService.get_wishlist_to_views(deal.id) %>%</td>
                      <% if deal.redeemable && (deal.start_date <= Date.today) %>
                          <td style="text-align: center;"><%= DealAnalyticService.get_views_to_redeem(deal.id) %>%</td>
                          <td style="text-align: center;"> <%= DealAnalyticService.get_multiple_redeems_percentage(deal.id) %>%</td>
                          <td style="text-align: center;"> <%= DealAnalyticService.average_time_btw_multiple_redeem(deal.id) %></td>
                      <% elsif deal.redeemable && (deal.start_date > Date.today)%>
                          <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gatherd">N/A</p></td>
                          <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gatherd">N/A</p></td>
                          <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gatherd">N/A</p></td>
                      <% else %>
                          <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                          <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                          <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                      <% end %>
                      <td>
                        <%= link_to analytic_path(deal) do %>
                            <button class="btn btn-success" type="button">
                              Show Charts
                            </button>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseTwo">Expired
            Deals<span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <th>Title</th>
            <th style="text-align: center;">Conversion Rate<br>Wish Lister to Views</th>
            <th style="text-align: center;">Conversion Rate<br>Unique Views to Redemption</th>
            <th style="text-align: center;">Percentage of users who redeem more than once</th>
            <th style="text-align: center;">Average Time between same User Redemption</th>
            <th colspan="1"></th>
            </tr>

            <% @deals.each do |deal| %>
                <% if deal.expiry_date.past? && deal.active %>
                    <tr>
                      <td><%= deal.title %></td>
                      <td style="text-align: center;"><%= DealAnalyticService.get_wishlist_to_views(deal.id) %>%</td>
                      <% if deal.redeemable && (deal.start_date <= Date.today) %>
                          <td style="text-align: center;"><%= DealAnalyticService.get_views_to_redeem(deal.id) %>%</td>
                          <td style="text-align: center;"> <%= DealAnalyticService.get_multiple_redeems_percentage(deal.id) %>%</td>
                          <td style="text-align: center;"> <%= DealAnalyticService.average_time_btw_multiple_redeem(deal.id) %></td>
                      <% elsif deal.redeemable && (deal.start_date > Date.today)%>
                          <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gatherd">N/A</p></td>
                          <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gatherd">N/A</p></td>
                          <td style="text-align: center;"><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gatherd">N/A</p></td>
                      <% else %>
                          <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                          <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                          <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                      <% end %>
                      <td>
                        <%= link_to analytic_path(deal.id) do %>
                            <button class="btn btn-success" type="button">
                              Show Charts
                            </button>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="bsJs" type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<style>
    p#untracable {
        text-align: center;
        color: #ea1218;
        font-weight: bold;
    }
</style>