<div style=" min-width:350px; max-width:60%; margin:100px auto" class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-body">
        <div style = "float:right">
          <div style="display:inline-block" class="hidden-xs"><%= image_tag("biz/signin_logo.png", alt: "burpple", height: "100", width: "100") %></div>
        </div>
        <div style="display:inline-block"><h3>Log In</h3></div>
      </div>
    </div>
    <div class="panel-body">
      <%= yield %>

      <!--Flash messages-->
      <% flash.each do |key, value| %>
          <% if key == "alert" %>
              <div class="alert alert-error"><%= value %></div>
          <% end %>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <br>
          <div style="margin-bottom: 25px" class="input-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, style: "height: auto" %>
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", style: "height: auto" %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %> Remember Me
              </div>
          <% end -%>

          <div class="actions" style="padding-top:20px">
            <%= f.submit "Log in", class: "btn btn-info" %>
          </div>
      <% end %>
    </div>
    <div style="font-size:85%; border-top: solid; border-width: thin; border-color:lightpink; padding:10px">
      <%= render "merchants/shared/links" %>
      Not yet a member?<%= link_to " Sign up now!", new_registration_path(resource_name) %>
    </div>
  </div>
</div>


