<div style="padding-bottom: 50px">
  <h2 style="padding-bottom: 50px">Subscription Overview</h2>
  <div id="monthly_subscriptions" style="height: 400px;"></div>
</div>

<div style="padding-bottom: 50px">
  <h2 style="padding-bottom: 50px">Premium Services Analytics</h2>
  <div id="plan_subscribers" class="col-lg-6"></div>
  <div id="plan_payments" class="col-lg-6"></div>
  <div id="plan_months" style="padding-top: 20px"></div>
</div>

<div style="padding-bottom: 50px;">
  <h2>Cross Selling Analytics</h2>
  <div class="cross-sell" style="margin-bottom: 15px; padding-bottom: 10px; background-color: #7CB5EC;">
    <p class="cross-sell-header" style="color: #434348;">Merchants who bought <%= @plan1_name %></p>
    <p><%= @plan1_with_addon1 %>% also bought <%= @addon1_name %> add on</p>
    <p><%= @plan1_with_addon2 %>% also bought <%= @addon2_name %> add on</p>
    <p><%= @plan1_with_addon3 %>% also bought <%= @addon3_name %> add on</p>
  </div>
  <div class="col-lg-4 cross-sell">
    <p class="cross-sell-header">Merchants who bought <%= @addon1_name %></p>
    <p><%= @addon_1_with_2 %>% also bought <%= @addon2_name %></p>
    <p><%= @addon_1_with_3 %>% also bought <%= @addon3_name %></p>
  </div>
  <div class="col-lg-4 cross-sell">
    <p class="cross-sell-header">Merchants who bought <%= @addon2_name %></p>
    <p><%= @addon_1_with_2 %>% also bought <%= @addon1_name %></p>
    <p><%= @addon_2_with_3 %>% also bought <%= @addon3_name %></p>
  </div>
  <div class="col-lg-4 cross-sell">
    <p class="cross-sell-header">Merchants who bought <%= @addon3_name %></p>
    <p><%= @addon_1_with_3 %>% also bought <%= @addon1_name %></p>
    <p><%= @addon_2_with_3 %>% also bought <%= @addon2_name %></p>
  </div>
</div>

<footer>
  <script src="//code.highcharts.com/highcharts.js"></script>
  <script src="//code.highcharts.com/modules/data.js"></script>
  <script src="//code.highcharts.com/modules/exporting.js"></script>
  <script src="//code.highcharts.com/modules/drilldown.js"></script>

  <!--Javascript for premium subscriptions -->
  <script>
      $(function () {
          $('#plan_subscribers').highcharts({
              credits: {
                  enabled: false
              },
              exporting: {
                  filename: 'Premium Service Subscribers ' + new Date().toDateString()
              },
              chart: {
                  type: 'pie'
              },
              title: {
                  text: 'Popularity of All Plans and Add Ons'
              },
              subtitle: {
                  text: 'Number of Subscribers'
              },
              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%</b> of total<br/>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      depth: 35,
                      dataLabels: {
                          enabled: true,
                          format: '{point.name}<br>{point.y} subscribers'
                      }
                  }
              },
              series: [{
                  name: "Plans",
                  colorByPoint: true,
                  data: [
                      <% num = @plan_subscribers_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @plan_subscribers_series[i] %>,
                      <% i+=1 %>
                      <% end %>
                  ]
              }],
              drilldown: {
                  drillUpButton: {
                      position: {
                          y: -40,
                          x: 0
                      },
                      theme: {
                          fill: 'white',
                          'stroke-width': 1,
                          stroke: 'silver',
                          r: 0,
                          states: {
                              hover: {
                                  fill: '#bada55'
                              },
                              select: {
                                  stroke: '#039',
                                  fill: '#bada55'
                              }
                          }
                      }

                  },
                  series: [
                      <% num = @addon_subscribers_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @addon_subscribers_series[i] %>,
                      <% i += 1 %>
                      <% end %>
                  ]
              }
          });
      });
  </script>

  <!--Javascript for premium profits-->
  <script>
      $(function () {
          $('#plan_payments').highcharts({
              credits: {
                  enabled: false
              },
              exporting: {
                  filename: 'Premium Service Revenue ' + new Date().toDateString()
              },
              chart: {
                  type: 'pie'
              },
              title: {
                  text: 'Revenue from All Plans and Add Ons'
              },
              subtitle: {
                  text: 'Contribution of each service to total revenue'
              },
              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%</b> of total<br/>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      depth: 35,
                      dataLabels: {
                          enabled: true,
                          format: '{point.name} <br> \${point.y:.2f}'
                      }
                  }
              },
              series: [{
                  name: "Plans",
                  colorByPoint: true,
                  data: [
                      <% num = @plan_profits_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @plan_profits_series[i] %>,
                      <% i+=1 %>
                      <% end %>
                  ]
              }],
              drilldown: {
                  drillUpButton: {
                      position: {
                          y: -40,
                          x: 0
                      },
                      theme: {
                          fill: 'white',
                          'stroke-width': 1,
                          stroke: 'silver',
                          r: 0,
                          states: {
                              hover: {
                                  fill: '#bada55'
                              },
                              select: {
                                  stroke: '#039',
                                  fill: '#bada55'
                              }
                          }
                      }

                  },
                  series: [
                      <% num = @addon_profits_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @addon_profits_series[i] %>,
                      <% i += 1 %>
                      <% end %>
                  ]
              }
          });
      });
  </script>

  <!--Javascript for monthly subscriptions-->
  <script>
      $(function () {
          $('#monthly_subscriptions').highcharts({
              credits: {
                  enabled: false
              },
              exporting: {
                  filename: 'Monthly Subscription Count ' + new Date().toDateString()
              },
              title: {
                  text: 'Monthly Subscription Count',
                  x: -20 //center
              },
              subtitle: {
                  text: 'Burpple Premium Services for Merchants',
                  x: -20
              },
              xAxis: {
                  categories: <%= raw @months.as_json %>
              },
              yAxis: {
                  title: {
                      text: 'Number of subscriptions'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: ' subscriptions'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [
                  <% num = @plan_subscriptions_series.size %>
                  <% i = 0 %>
                  <% while i < num %>
                  <%= raw @plan_subscriptions_series[i] %>,
                  <% i+=1 %>
                  <% end %>
              ]
          });
      });
  </script>

  <!--Javscript for Stickiness Analytics-->
  <script>
      $(function () {
          // Create the chart
          $('#plan_months').highcharts({
              credits: {
                  enabled: false
              },
              exporting: {
                  filename: 'Premium Service Stickiness ' + new Date().toDateString()
              },
              chart: {
                  type: 'column',
                  reflow: false
              },
              title: {
                  text: 'Stickiness of Premium Services'
              },
              subtitle: {
                  text: 'Average months of subscription of each plan and add on'
              },
              xAxis: {
                  type: 'category'
              },
              yAxis: {
                  title: {
                      text: 'Average Months of Subscription'
                  }

              },
              legend: {
                  enabled: true
              },
              plotOptions: {
                  series: {
                      pointWidth: 80,
                      borderWidth: 0,
                      dataLabels: {
                          enabled: true,
                          format: '{point.y} months'
                      }
                  }
              },

              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: ' +
                  '<br/>Average: <b>{point.y}</b> months ' +
                  '<br/>Variance: <b>{point.variance}</b>' +
                  '<br/>Standard Deviation: <b>{point.sd}</b>' +
                  '<br/>Max: <b>{point.max}</b> months ' +
                  '<br/>Min: <b>{point.min}</b> months '
              },

              series: [{
                  name: "Premium Plans",
                  colorByPoint: true,
                  data: [
                      <% num = @plan_months_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @plan_months_series[i] %>,
                      <% i+=1 %>
                      <% end %>
                  ]
              }],
              drilldown: {
                  drillUpButton: {
                      position: {
                          y: -50,
                          x: -50
                      },
                      theme: {
                          fill: 'white',
                          'stroke-width': 1,
                          stroke: 'silver',
                          r: 0,
                          states: {
                              hover: {
                                  fill: '#bada55'
                              },
                              select: {
                                  stroke: '#039',
                                  fill: '#bada55'
                              }
                          }
                      }

                  },
                  series: [
                      <% num = @addon_months_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @addon_months_series[i] %>,
                      <% i += 1 %>
                      <% end %>
                  ]
              }
          });
      });
  </script>
</footer>