<h2>Premium Services Analytics</h2>
<div id="plan_subscribers" style="height: 400px; width:600px; float: left;"></div>
<div id="plan_payments" style="height: 400px; width:600px; float: left;"></div>

<h2>Addons</h2>

<footer>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/data.js"></script>
  <script src="http://code.highcharts.com/modules/drilldown.js"></script>
  <!--Javascript for Plan Analytics -->
  <script>
      $(function () {
          $('#plan_subscribers').highcharts({
              credits: {
                  enabled: false
              },
              chart: {
                  type: 'pie'
              },
              title: {
                  text: 'Popularity of All Premium Services'
              },
              subtitle: {
                  text: 'Number of Subscribers'
              },
              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%</b> of total<br/>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      depth: 35,
                      dataLabels: {
                          enabled: true,
                          format: '{point.name} {point.y}'
                      }
                  }
              },
              series: [{
                  name: "Plans",
                  colorByPoint: true,
                  data: [{
                      name: "Basic Plan",
                      y: <%= plan_all %>,
                      drilldown: null
                  }, {
                      name: "Deal Listing Service",
                      y: <%= plan1 %>,
                      drilldown: "Addons"
                  }]
              }],
              drilldown: {
                  series: [{
                      name: "Addons",
                      id: "Addons",
                      data: [
                          ["Push Notification", <%= addon1 %>],
                          ["Deal Statistics", <%= addon2 %>],
                          ["Aggregate Trends", <%= addon3 %>]
                      ]
                  }]
              }
          });
      });
      $(function () {
          $('#plan_payments').highcharts({
              credits: {
                  enabled: false
              },
              chart: {
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 45,
                      beta: 0
                  }
              },
              title: {
                  text: 'Revenue from All Premium Services'
              },
              subtitle: {
                  text: 'Contribution of each service to total revenue'
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      depth: 35,
                      dataLabels: {
                          enabled: true,
                          format: '{point.name} ${point.y}'
                      }
                  }
              },
              series: [{
                  type: 'pie',
                  name: 'Subscribers',
                  data: [
                      ['Basic Service',  0],
                      ['Deal Listing Service',  <%= plan1_cost %>]
                  ]
              }]
          });
      });
  </script>
  <!--Javascript for Addons Analytics-->
  <script>

  </script>
</footer>