<div style="padding-bottom: 50px">
  <h2 style="padding-bottom: 50px">Subscription Overview</h2>
  <div id="monthly_subscriptions" style="height: 400px;"></div>
</div>

<div style="padding-bottom: 50px">
  <h2 style="padding-bottom: 50px">Premium Services Analytics</h2>
  <div id="plan_subscribers" class="col-lg-6"></div>
  <div id="plan_payments" class="col-lg-6"></div>
  <div id="plan_months" style="padding-top: 20px"></div>
</div>

<footer>
  <script src="//code.highcharts.com/highcharts.js"></script>
  <script src="//code.highcharts.com/modules/data.js"></script>
  <script src="//code.highcharts.com/modules/exporting.js"></script>
  <script src="//code.highcharts.com/modules/drilldown.js"></script>

  <!--Javascript for premium subscriptions -->
  <script>
      $(function () {
          $('#plan_subscribers').highcharts({
              credits: {
                  enabled: false
              },
              chart: {
                  type: 'pie'
              },
              title: {
                  text: 'Popularity of All Plans and Add Ons'
              },
              subtitle: {
                  text: 'Number of Subscribers'
              },
              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%</b> of total<br/>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      depth: 35,
                      dataLabels: {
                          enabled: true,
                          format: '{point.name}<br>{point.y} subscribers'
                      }
                  }
              },
              series: [{
                  name: "Plans",
                  colorByPoint: true,
                  data: [
                      <% num = @plan_subscribers_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @plan_subscribers_series[i] %>,
                      <% i+=1 %>
                      <% end %>
                  ]
              }],
              drilldown: {
                  series: [
                      <% num = @addon_subscribers_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @addon_subscribers_series[i] %>,
                      <% i += 1 %>
                      <% end %>
                  ]
              }
          });
      });
  </script>

  <!--Javascript for premium profits-->
  <script>
      $(function () {
          $('#plan_payments').highcharts({
              credits: {
                  enabled: false
              },
              chart: {
                  type: 'pie'
              },
              title: {
                  text: 'Profits from All Plans and Add Ons'
              },
              subtitle: {
                  text: 'Contribution of each service to total revenue'
              },
              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.2f}%</b> of total<br/>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      depth: 35,
                      dataLabels: {
                          enabled: true,
                          format: '{point.name} <br> \${point.y:.2f}'
                      }
                  }
              },
              series: [{
                  name: "Plans",
                  colorByPoint: true,
                  data: [
                      <% num = @plan_profits_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @plan_profits_series[i] %>,
                      <% i+=1 %>
                      <% end %>
                  ]
              }],
              drilldown: {
                  series: [
                      <% num = @addon_profits_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @addon_profits_series[i] %>,
                      <% i += 1 %>
                      <% end %>
                  ]
              }
          });
      });
  </script>

  <!--Javascript for monthly subscriptions-->
  <script>
      $(function () {
          $('#monthly_subscriptions').highcharts({
              credits: {
                  enabled: false
              },
              title: {
                  text: 'Monthly Subscription Count',
                  x: -20 //center
              },
              subtitle: {
                  text: 'Burpple Premium Services for Merchants',
                  x: -20
              },
              xAxis: {
                  categories: <%= raw @months.as_json %>
              },
              yAxis: {
                  title: {
                      text: 'Number of subscriptions'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: ' subscriptions'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [
                  <% num = @plan_subscriptions_series.size %>
                  <% i = 0 %>
                  <% while i < num %>
                  <%= raw @plan_subscriptions_series[i] %>,
                  <% i+=1 %>
                  <% end %>
              ]
          });
      });
  </script>

  <!--Javscript for Stickiness Analytics-->
  <script>
      $(function () {
          // Create the chart
          $('#plan_months').highcharts({
              credits: {
                  enabled: false
              },
              chart: {
                  type: 'column'
              },
              title: {
                  text: 'Stickiness of Premium Services'
              },
              subtitle: {
                  text: 'Months of subscription of each plan and add on'
              },
              xAxis: {
                  type: 'category'
              },
              yAxis: {
                  title: {
                      text: 'Months of Subscription'
                  }

              },
              legend: {
                  enabled: true
              },
              plotOptions: {
                  series: {
                      pointWidth: 80,
                      borderWidth: 0,
                      dataLabels: {
                          enabled: true,
                          format: '{point.y} months'
                      }
                  }
              },

              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> months<br/>'
              },

              series: [{
                  name: "Premium Plans",
                  colorByPoint: true,
                  data: [
                      <% num = @plan_months_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @plan_months_series[i] %>,
                      <% i+=1 %>
                      <% end %>
                  ]
              }],
              drilldown: {
                  series: [
                      <% num = @addon_months_series.size %>
                      <% i = 0 %>
                      <% while i < num %>
                      <%= raw @addon_months_series[i] %>,
                      <% i += 1 %>
                      <% end %>
                  ]
              }
          });
      });
  </script>
</footer>