<div class="content-form">
  <%= form_for @deal, url: deal_path(@deal), html: {method: "patch"} do |f| %>
      <p class="form-textarea clearfix">
        <%= f.label :title, "Title of deal" %>
        <span>
                <%= f.text_field :title%>
          </span>
      </p>

      <div class = "row">
        <div class="col-lg-4">
          <p class="form-textarea clearfix">
            <%= f.label :type_of_deal, "Type of Deal" %>
            <span>
              <%= f.select :type_of_deal, [['Discount','Discount'],['Freebies','Freebis']] %><br>
            </span>
            Please place the type of freebie or total discount in the description field.
          </p>
        </div>
      </div>

      <p class="form-textarea clearfix">
        <%= f.label :description, "Description of your deal" %>
        <span>
                <%= f.text_field :description%>
          </span>
      </p>

      <p class="form-select half clearfix">
        <%= f.label :start_date, "Start Date:" %>
        <span>
                <%= f.text_field :start_date%>
          </span>
      </p>
      <p class="form-select clearfix">
        <%= f.label :expiry_date, "End Date:" %>
        <span>
                <%= f.text_field :expiry_date %>
          </span>
      </p>

      <!-- Following is a nested form of deal_day-->
      <p class="form-textarea clearfix">
        <%= f.label :deal_days, "Deal Period:" %>
        <%= f.fields_for :deal_days do |builder| %>
            <%= render 'form/deal_day_form', f: builder %>
        <% end %>
        <%= link_to_add_day "Add deal period", f, :deal_days %>
      </p>
      <%= fields_for (@deal_venue) do |dv| %>
          <div class = "field">
            <%= dv.label "Select Venues" %><br />
            <%= collection_select(:venues, :id, @all_venues, :id, :name, {}, {:multiple => true}) %>
          </div>
      <% end %>

      <p class="form-textarea clearfix">
        <%= f.label :t_c, 'Terms and Conditions' %>
        <span>
                <%= f.text_field :t_c%>
              </span>
      </p>

      <div class = "row">
        <div class="col-lg-8">
          <p>
            <%= f.label :image, 'Upload an image of your deal! For best effect, upload an image of 150x150' %>
            <%= f.file_field :image %>
          </p>
        </div>
      </div>

      <div id= "redeemable">
        <p class="form-textarea clearfix">
          <%= f.label :redeemable, "Would you like users to redeem through deal code? (Helps gather analytics)" %>
        </p>
        <p class="form-select half" style="margin-top: 0px;">
          <%= f.label :redeemable, "Yes", :value => true %>
          <%= f.radio_button :redeemable, true%>
        </p>
        <p class="form-select" style="margin-top: 0px;">
          <%= f.label :redeemable, "No", :value => false %>
          <%= f.radio_button :redeemable, false%>
        </p>
        <div id="redeemable_true">
          <p class="form-textarea clearfix">
            <%= f.label :multiple_use, "How many times can this deal be redeemed per user?" %><br>
          </p>
          <p class="form-select half" style="margin-top: 0px;">
            <%= f.label :multiple_use, "Unlimited Redemptions", :value => true %>
            <%= f.radio_button :multiple_use, true %>
          </p>
          <p class="form-select" style="margin-top: 0px;">
            <%= f.label :multiple_use, "Once", :value => false %>
            <%= f.radio_button :multiple_use, false%>
          </p>
        </div>
      </div>

      <div style="margin-top: 30px">
        <%= f.submit "Create Deal", :class => 'btn btn-big btn-success' %>
        <%= link_to 'Back', deals_path, class: "btn btn-big btn-default" %>
      </div>
  <% end %>
</div><!-- content-form -->