<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Active Deals (Deals that are now displayed to users)</h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <tr>
          <% if @payment.add_on3 %>
              <th><strong data-toggle="tooltip" data-placement="top" title="Ranking is based on all active deals in Burpple">Ranking</strong></th>
          <% end %>
          <th>Title</th>
          <th>Image</th>
          <th>Venue</th>
          <th>Start Date</th>
          <th>Expiry Date</th>
          <% if @payment.add_on2 %>
              <th>Unique Views</th>
              <th>Redeems</th>
          <% end %>
          <% if @payment.add_on1 %>
              <th colspan="2"></th>
          <% else %>
              <th colspan="2"></th>
          <% end %>
        </tr>

        <% @deals.each do |deal| %>
            <% if (deal.expiry_date.future?|| deal.expiry_date.today?) && deal.active %>
                <tr>
                  <% if deal.redeemable && @payment.add_on3 && (deal.start_date <= Date.today) %>
                      <% @ranking.each do |r| %>
                          <% if r[0] == deal.id %>
                              <td id='num'><%= r[1] %></div></td>
                              <% break %>
                          <% end %>
                      <% end %>
                  <% elsif deal.redeemable && @payment.add_on3 && (deal.start_date > Date.today) %>
                      <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                  <% elsif @payment.add_on3 %>
                      <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence, data cannot be gathered">N/A</p></td>
                  <% end %>
                  <td><%= deal.title %></td>
                  <td>
                    <% if deal.image.present? %>
                        <%= cl_image_tag(deal.image.path, {size: '100x100', crop: :fit}) %>
                    <% else %>
                        <%= image_tag 'biz/burpple_logo.png', :size => '100x100' %>
                    <% end %>
                  </td>
                  <td style="min-width: 250px;">
                    <% deal.venues.each do |venue| %>
                        <%= venue.name %><br/>
                    <% end %>
                  </td>
                  <td><%= deal.start_date.strftime("%d/%m/%Y") %></td>
                  <td><%= deal.expiry_date.strftime("%d/%m/%Y") %></td>
                  <% if @payment.add_on2 %>
                      <td id='num'><%= DealAnalyticService.get_unique_view_count(deal.id) %></td>
                      <% if deal.redeemable && (deal.start_date <= Date.today) %>
                          <td id='num'><%= DealAnalyticService.get_redemption_count(deal.id) %></td>
                      <% elsif deal.redeemable && (deal.start_date > Date.today)%>
                          <td><p id="untracable" data-toggle="tooltip" data-placement="top" title="Deal has not started yet hence, data cannot be gathered">N/A</p></td>
                      <% else %>
                          <td><p id='untracable' data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence data cannot be gathered">N/A</p></td>
                      <% end %>
                  <% end %>
                  <% if @payment.add_on1 %>
                      <% if deal.pushed %>
                          <td>
                            <%= link_to 'Pushed', push_deal_path(deal),
                                        class: "btn btn-xs btn-default disabled" %>
                          </td>
                      <% else %>
                          <td>
                            <%= link_to push_deal_path(deal), {:style => 'color:#FFFFFF;', :class => "css_class"} do %>
                                <button class="btn btn-success" type="button" data-toggle="tooltip" data-placement="top" title="Push deal to total number of users who wishlisted the venues where deal is offered">
                                  Push Deal <span class="badge"><%= WishService.num_wishlist_deal(deal.id) %></span>
                                </button>
                            <% end %>
                          </td>
                      <% end %>
                  <% end %>
                  <td><%= link_to 'Show', deal_path(deal), class: "btn btn-xs btn-default" %></td>
                  </tr>
            <% end %>
        <% end %>
        </table>
        </div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Waiting Deals (Deals that are not displayed to users until you press activate)</h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>Expiry Date</th>
          <th>Venue</th>
          <th colspan="4"></th>
        </tr>

        <% @deals.each do |deal| %>
            <% if !deal.active %>
                <tr>
                  <td><%= deal.title %></td>
                  <td>
                    <% if deal.image.present? %>
                        <%= cl_image_tag(deal.image.path, {size: '100x100', crop: :fit}) %>
                    <% else %>
                        <%= image_tag 'biz/burpple_logo.png', :size => '100x100' %>
                    <% end %>
                  </td>
                  <td><%= deal.description %></td>
                  <td><%= deal.start_date.strftime("%d/%m/%Y") %></td>
                  <td><%= deal.expiry_date.strftime("%d/%m/%Y") %></td>
                  <td style="min-width: 200px;">
                    <% deal.venues.each do |venue| %>
                        <%= venue.name %><br/>
                    <% end %>
                  </td>
                  <% if deal.start_date.future? || deal.start_date.today? %>
                      <td>
                        <% if DealService.num_active_deals(deal.merchant_id) >= 5 %>
                            <button class="btn btn-default disabled" type="button" data-toggle="tooltip" data-placement="top" title="As you currently have more than 5 active deals you are not able to activate deal">
                              Activate
                            </button>
                        <% else %>
                            <%= link_to active_deal_path(deal),
                                        data: {confirm: 'You will not be able to edit or delete the deal once activated. Do you wish to proceed?'} do %>
                                <button class="btn btn-success" type="button" data-toggle="tooltip" data-placement="top" title="Once deal is activated, users will be able to view and search for the deal">
                                  Activate
                                </button>
                            <% end %>
                        <% end %>
                      </td>
                  <% else %>
                      <td>
                        <button class="btn btn-default disabled" type="button" data-toggle="tooltip" data-placement="top" title="The start date of your deal has passed. Please either edit or delete your deal.">
                          Activate
                        </button>
                      </td>
                  <% end %>
                  <td><%= link_to 'Show', deal_path(deal), class: "btn btn-xs btn-default" %></td>
                  <td><%= link_to 'Edit', edit_deal_path(deal), class: "btn btn-xs btn-default" %></td>
                  <td>
                    <%= link_to 'Delete', deal_path(deal),
                                method: :delete,
                                data: {confirm: 'Are you sure?'},
                                class: "btn btn-xs btn-danger" %>
                  </td>
                </tr>
            <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Past Deals (Deals that are expired)</h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Venue</th>
        <th colspan="1"></th>
        </tr>

        <% @deals.each do |deal| %>
            <% if deal.expiry_date.past? && deal.active %>
                <tr>
                  <td><%= deal.title %></td>
                  <td>
                    <% if deal.image.present? %>
                        <%= cl_image_tag(deal.image.path, {size: '100x100', crop: :fit}) %>
                    <% else %>
                        <%= image_tag 'biz/burpple_logo.png', :size => '100x100' %>
                    <% end %>
                  </td>
                  <td><%= deal.description %></td>
                  <td><%= deal.start_date.strftime("%d/%m/%Y") %></td>
                  <td><%= deal.expiry_date.strftime("%d/%m/%Y") %></td>
                  <td style="min-width: 200px;">
                    <% deal.venues.each do |venue| %>
                        <%= venue.name %><br/>
                    <% end %>
                  </td>
                  <td><%= link_to 'Show', deal_path(deal), class: "btn btn-xs btn-default" %></td>
                </tr>
            <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>