<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Type of Deal:</strong>
  <%= @deal.type_of_deal %><br>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %><br>
</p>

<p>
  <strong>Deal Start Date:</strong>
  <%= @deal.start_date %><br>
</p>

<p>
  <strong>Expiry Date:</strong>
  <%= @deal.expiry_date %><br>
</p>

<% for deal_day in @deal.deal_days%>
    <strong> Deal Periods:</strong>
    <%= format_days (deal_day) %><br>
    <% for deal_time in deal_day.deal_times%>
        <strong> From:</strong>
        <%=h deal_time.started_at.strftime("%H:%M") %>
        to
        <strong> To:</strong>
        <%=h deal_time.ended_at.strftime("%H:%M") %><br><br>
    <% end %>
<% end %>

<p>
  <strong>Venue:</strong>
  <% @deal.venues.each do |venue| %>
      <span><%= venue.neighbourhood %></span>
  <% end %>
</p>

<p>
  <strong>Terms and Condition:</strong>
  <%= @deal.t_c %>
</p>

<p>
  <strong>Has the deal been pushed to users?</strong>
  <%= @deal.pushed %><br>
</p>

<p>
  <strong>Can your code be redeemed?</strong>
  <% if @deal.redeemable %>
      Yes <br>
      <strong>How many times can this deal be redeemed per user?</strong>
      <% if !@deal.multiple_use %>
          Once per user <br>
      <% else %>
          Unlimited Redemptions <br>
      <% end %>
  <% else %>
      No <br>
  <% end %>
</p>

<p>
  <% @deal.venues.each do |venue| %>
      <strong>QR Code for <%= venue.neighbourhood %></strong><br>
      <% @qr = RQRCode::QRCode.new(@deal.id.to_s + "_" + venue.id.to_s + "_" + @deal.created_at.to_s).to_img.resize(200, 200).to_data_url %>
      <span><%= image_tag @qr %><br></span>
  <% end %>
</p>