<div class="form-style-10">
  <h1>List a new deal <span>Expand your marketing efforts by listing deals on Burpple!</span></h1>
  <%= form_for @deal, :html => {:multipart => true} do |f| %>
      <div class="form-textarea clearfix">
        <div class="col-lg-6" style="padding-left:0px; text-transform: uppercase">
          <%= f.label :title, "Title of deal*" %>
          <span><%= f.text_field :title %></span>
        </div>
        <div class="col-lg-6" id="deal_title_hint" style="display:none;">
          <% if @payment.add_on3 %>
              <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small"><%= @top_queries %></p>
          <% end %>
        </div>
      </div>

      <div class="form-textarea clearfix">
        <div class="col-lg-6" style="padding-left:0px; text-transform: uppercase">
          <%= f.label :type_of_deal, "Type of Deal*" %>
          <span><%= f.select :type_of_deal, [['Discount', 'Discount'], ['Freebies', 'Freebies']], title: @top_deal_type %></span>
        </div>
        <div class="col-lg-6" id="deal_type_of_deal_hint" style="display:none;">
          <% if @payment.add_on3 %>
              <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small"><%= @top_deal_type %></p>
          <% end %>
        </div>
      </div>

      <div class="form-textarea clearfix">
        <div class="col-lg-6" style="padding-left:0px; text-transform: uppercase">
          <%= f.label :description, "Description of your deal*" %>
          <span><%= f.text_area :description, :placeholder => "Tell us more about your deals! Example: 10% off the total bill!", :style => 'width: 100%' %></span>
        </div>
        <div class="col-lg-6" id="deal_description_hint" style="display:none;">
          <% if @payment.add_on3 %>
              <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small"><%= @top_queries %></p>
          <% end %>
        </div>
      </div>

      <p class="form-select half clearfix">
        <%= f.label :start_date, "Start Date*" %>
        <span><%= f.text_field :start_date %></span>
      </p>

      <p class="form-select half clearfix">
        <%= f.label :expiry_date, "End Date*" %>
        <span><%= f.text_field :expiry_date %></span>
      </p>

      <!-- Following is a nested form of deal_day-->
      <div class="clearfix"></div>
      <p class="form-textarea clearfix">
        <%= f.label :deal_days, "Deal Period*" %>
        <%= f.fields_for :deal_days do |builder| %>
            <%= render 'form/deal_day_form', f: builder %>
        <% end %>
        <%= link_to_add_day "Add deal period", f, :deal_days %>
      </p>

      <%= fields_for :deal_venue do |dv| %>
          <div class="field form-textarea clearfix">
            <%= dv.label "Select Venues*" %><br/>
            <%= collection_select(:venues, :id, @all_venues, :id, :name, {}, {:multiple => true}) %>
          </div>
      <% end %>

      <p class="form-textarea clearfix">
        <%= f.label :t_c, 'Terms and Conditions*' %>
        <span><%= f.text_area :t_c, :placeholder => "Note your terms and conditions here", :style => 'width: 100%' %></span>
      </p>

      <p class="form-text clearfix">
        <%= f.label :image, 'Upload an image of your deal' %>
      </p>
      <%= f.attachinary_file_field :image %>
      <%= f.hidden_field(:image_cache) %>
      <em>For best effect, upload an image of 150x150</em>

      <div id="redeemable">
        <p class="form-textarea clearfix">
          <%= f.label :redeemable, "Would you like users to redeem through QR code? (Helps gather analytics)*" %>
        </p>

        <p class="form-select half" style="margin-top: 0px;">
          <%= f.label :redeemable, "Yes", :value => true %>
          <%= f.radio_button :redeemable, true %>
        </p>

        <p class="form-select" style="margin-top: 0px;">
          <%= f.label :redeemable, "No", :value => false %>
          <%= f.radio_button :redeemable, false %>
        </p>
      </div>


      <div id="redeemable">
        <div id="redeemable_true">
          <p class="form-textarea clearfix">
            <%= f.label :multiple_use, "How many times can this deal be redeemed through QRCode per user?*" %><br>
          </p>

          <p class="form-select half" style="margin-top: 0px;">
            <%= f.label :multiple_use, "Unlimited", :value => true %>
            <%= f.radio_button :multiple_use, true %>
          </p>

          <p class="form-select" style="margin-top: 0px;">
            <%= f.label :multiple_use, "Once", :value => false %>
            <%= f.radio_button :multiple_use, false %>
          </p>
        </div>
      </div>

      <div style="margin-top: 30px">
        <%= f.submit "Create Deal", :class => 'btn btn-big btn-success' %>
        <%= link_to 'Back', deals_path, class: "btn btn-big btn-default" %>
      </div>
  <% end %>
</div><!-- form-style-10 -->

<!--JQuery for showing hints-->
<script>
    $('#deal_title').focus(function(){
        $('#deal_title_hint').show();
    });
    $('#deal_title').blur(function(){
        $('#deal_title_hint').hide();
    });
    $('#deal_type_of_deal').focus(function(){
        $('#deal_type_of_deal_hint').show();
    });
    $('#deal_type_of_deal').blur(function(){
        $('#deal_type_of_deal_hint').hide();
    });
    $('#deal_description').focus(function(){
        $('#deal_description_hint').show();
    });
    $('#deal_description').blur(function(){
        $('#deal_description_hint').hide();
    });
</script>