<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Active Deals (Deals that are now displayed to users)</h4>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover table-responsive">
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Venue</th>
        <% if (@payment.add_on1) %>
            <th colspan="2"></th>
        <% else %>
            <th colspan="2"></th>
        <% end %>
      </tr>

      <% @deals.each do |deal| %>
          <% if (deal.expiry_date.future?|| deal.expiry_date.today?) && deal.active %>
              <tr>
                <td><%= deal.title %></td>
                <td><%= image_tag deal.image.url, :size => "100x100" %></td>
                <td><%= deal.description %></td>
                <td><%= deal.start_date.strftime("%d/%m/%Y") %></td>
                <td><%= deal.expiry_date.strftime("%d/%m/%Y") %></td>
                <td>
                  <% deal.venues.each do |venue| %>
                      <%= venue.name %><br/>
                  <% end %>
                </td>
                <% if @payment.add_on1 %>
                    <% if deal.pushed %>
                        <td>
                          <%= link_to 'Pushed', push_deal_path(deal),
                                      class: "btn btn-xs btn-default disabled"%>
                        </td>
                    <% else %>
                        <td>
                          <%= link_to push_deal_path(deal), {:style => 'color:#FFFFFF;', :class => "css_class"} do %>
                              <button class="btn btn-success" type="button" data-toggle="tooltip" data-placement="top" title="Push deal to total number of users who wishlisted the venues where deal is offered">
                                Push Deal <span class="badge"><%= WishService.num_wishlist_deal(deal.id) %></span>
                              </button>
                          <% end %>
                        </td>
                    <% end %>
                <% end %>
                <td><%= link_to 'Show', deal_path(deal), class: "btn btn-xs btn-default" %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Waiting Deals (Deals that are not displayed to users until you press activate)</h4>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover table-responsive">
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Venue</th>
        <th colspan="4"></th>
      </tr>

      <% @deals.each do |deal| %>
          <% if !deal.active %>
              <tr>
                <td><%= deal.title %></td>
                <td><%= image_tag deal.image.url, :size => "100x100" %></td>
                <td><%= deal.description %></td>
                <td><%= deal.start_date.strftime("%d/%m/%Y") %></td>
                <td><%= deal.expiry_date.strftime("%d/%m/%Y") %></td>
                <td>
                  <% deal.venues.each do |venue| %>
                      <%= venue.name %><br/>
                  <% end %>
                </td>
                <td>
                  <%= link_to active_deal_path(deal),
                              data: { confirm: 'You will not be able to edit or delete the deal once activated. Do you wish to proceed?'} do%>
                      <button class="btn btn-success" type="button" data-toggle="tooltip" data-placement="top" title="Once deal is activated, users will be able to view and search for the deal">
                        Activate</button>
                  <% end %>

                </td>
                <td><%= link_to 'Show', deal_path(deal), class: "btn btn-xs btn-default" %></td>
                <td><%= link_to 'Edit', edit_deal_path(deal), class: "btn btn-xs btn-default" %></td>
                <td>
                  <%= link_to 'Delete', deal_path(deal),
                              method: :delete,
                              data: { confirm: 'Are you sure?'},
                              class: "btn btn-xs btn-danger"%>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Past Deals (Deals that are expired)</h4>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover table-responsive">
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Venue</th>
        <th colspan="1"></th>
      </tr>

      <% @deals.each do |deal| %>
          <% if deal.expiry_date.past? && deal.active %>
              <tr>
                <td><%= deal.title %></td>
                <td><%= image_tag deal.image.url, :size => "100x100" %></td>
                <td><%= deal.description %></td>
                <td><%= deal.start_date.strftime("%d/%m/%Y") %></td>
                <td><%= deal.expiry_date.strftime("%d/%m/%Y") %></td>
                <td>
                  <% deal.venues.each do |venue| %>
                      <%= venue.name %><br/>
                  <% end %>
                </td>
                <td><%= link_to 'Show', deal_path(deal), class: "btn btn-xs btn-default" %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>