<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th>Gift Name</th>
        <th>Points Required</th>
        <th>Description</th>
        <th></th>
      </tr>

      <% @gifts.where(gift_type: "Merchant").order(start_date: :asc).find_each do |p| %>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.points %></td>
            <td><%= p.description %></td>
            <td>
              <% if GiftService.check_redeemable(session[:merchant_id], p) %>
                  <%= link_to gift_path(p) do%>
                      <button class="btn btn-success">
                        Redeem
                      </button>
                  <% end %>
              <% else %>
                  <%= link_to gift_path(p) do%>
                      <button class="btn btn-default disabled" type="button" data-toggle="tooltip" data-placement="top" title="Sorry, you have insufficient points to redeem this gift.">
                        Redeem
                      </button>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
  <%= link_to 'Back', merchant_points_path, class: "btn btn-big btn-default" %>
</div>