<!-- show list of plans -->
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        Premium Services
      </h4>
    </div>
    <div id="collapseTwo" >
      <div class="panel-body">
        <!-- Here we insert another nested accordion -->
        <div class="panel-group" id="accordion2">
          <% @plan.each do |p| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <%= p.name %> <span class="label label-warning"><%= number_to_currency p.cost %></span>
                  </h4>
                  <h6><%= p.description %></h6>
                </div>
                <div id="collapseInner_<%= p.id %>" >
                  <div class="panel-body">
                    <table class="table table-bordered table-hover table-responsive">
                      <tr>
                        <th>Add-On(s)</th>
                        <th>Description</th>
                        <th>Extra Cost</th>
                      </tr>

                      <% p.add_ons.each do |a| %>
                          <tr>
                            <td><%= a.name %></td>
                            <td><%= a.description %></td>
                            <td><span class="label label-warning"> +<%= number_to_currency a.cost %></span></td>
                          </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Choose Upgrades
    </h4>
  </div>
  <div class="panel-body">
    <div class="content-form">
      <%= form_for @payment, url: payments_path do |f| %>
          <div id="plan1">
            <p class="form-select half" style="margin-top: 0px;">
              <%= f.label :plan1, "Basic Services", :value => false %>
              <%= f.radio_button :plan1, false, checked: true%>
            </p>

            <p class="form-select" style="margin-top: 0px;">
            
              <%= f.label :plan1, "Premium Deals Services (#{number_to_currency @plan1.cost})", :value => true %>
              <%= f.radio_button :plan1, true%>
            </p>

            <div id="plan1_true">
              <!-- show list of addons -->
              <p class="form-textarea clearfix">
                <%= f.label :add_on1, "Include Push Notification Add-on (#{number_to_currency @addon1.cost})" %>
                <em><%= @addon1.description %></em>
              </p>
              <p class="form-select half" style="margin-top: 0px;">
                <%= f.label :add_on1, "Yes", :value => true %>
                <%= f.radio_button :add_on1, true%>
              </p>
              <p class="form-select" style="margin-top: 0px;">
                <%= f.label :add_on1, "No", :value => false %>
                <%= f.radio_button :add_on1, false%>
              </p>

              <p class="form-textarea clearfix">
                <%= f.label :add_on2, "Include Deals Statistics Add-on (#{number_to_currency @addon2.cost})" %>
                <em><%= @addon2.description %></em>
              </p>
              <p class="form-select half" style="margin-top: 0px;">
                <%= f.label :add_on2, "Yes", :value => true %>
                <%= f.radio_button :add_on2, true%>
              </p>
              <p class="form-select" style="margin-top: 0px;">
                <%= f.label :add_on2, "No", :value => false %>
                <%= f.radio_button :add_on2, false%>
              </p>

              <p class="form-textarea clearfix">
                <%= f.label :add_on3, "Include Aggregate Trends Add-on (#{number_to_currency @addon3.cost})" %>
                <em><%= @addon3.description %></em>
              </p>
              <p class="form-select half" style="margin-top: 0px;">
                <%= f.label :add_on3, "Yes", :value => true %>
                <%= f.radio_button :add_on3, true%>
              </p>
              <p class="form-select" style="margin-top: 0px;">
                <%= f.label :add_on3, "No", :value => false %>
                <%= f.radio_button :add_on3, false%>
              </p>
            </div>
          </div>

          <!-- choose start date -->
          <p class="form-select clearfix">
            <%= f.label :start_date, "Start Date:" %>
            <span>
                <%= f.text_field :start_date%>
          </span>
          </p>

          <!-- to be deleted and replaced with auto-fill -->
          <p class="form-select clearfix">
            <%= f.label :months, "Number of months:" %>
            <span>
              <%= f.select :months, (1..12) %>
          </span>
          </p>



          <p class="clearfix">
            <%= f.submit "Proceed to Checkout", :class => 'btn btn-big btn-success' %>
          </p>
      <% end %>
    </div><!-- content-form -->
  </div><!--panel-body-->
</div><!--panel panel-default-->