<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Your Current Plan
    </h4>
  </div>
  <div class="panel-body">
    <% if !@current_payment %>
        <div class="alert alert-danger" role="alert">
          Oops, you have not subscribed to any premium service at the moment.
          <a href="<%= new_payment_path %>">Upgrade your plan</a> to unlock more awesome features from Burpple!
        </div>
    <% else %>
        <div class="col-lg-6">
          <p>
            <strong>Plan: </strong>
            <% if @current_payment.plan1 %>
                <span class="label label-default">Premium Deals Services</span>
            <% end %>
          </p>
          <p>
            <strong>Add-Ons: </strong>
            <% if !(@current_payment.add_on1) && !(@current_payment.add_on2) && !(@current_payment.add_on3)%>
                <span class="label label-inverse">None</span>
            <% else %>
                <% if @current_payment.add_on1 %>
                    <span class="label label-info">Push Notification</span>
                <% end %>
                <% if @current_payment.add_on2 %>
                    <span class="label label-success">Deals Statistics</span>
                <% end %>
                <% if @current_payment.add_on3 %>
                    <span class="label label-warning">Aggregate Trends</span>
                <% end %>
            <% end %>
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <strong>Start Date: </strong>
            <%= @current_payment.start_date.strftime("%d/%m/%Y") %>
          </p>
          <p>
            <strong>Expiry Date: </strong>
            <%= @current_payment.expiry_date.strftime("%d/%m/%Y") %>
          </p>
        </div>
    <% end %>
  </div><!-- panel-body -->
</div><!-- panel -->

<!-- Content Body -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Transaction History
    </h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <tr>
          <th>ID</th>
          <th>Total Amount</th>
          <th>Premium Service</th>
          <th>Add-On(s)</th>
          <th>Start Date</th>
          <th>Expiry Date</th>
          <th>Payment Date</th>
          <th></th>
        </tr>

        <% @payments.each do |p| %>
            <% if !p.paid %>
                <% p.destroy %>
            <% end %>
        <% end %>
        <% @payments.order(updated_at: :desc).each do |payment| %>
            <tr>
              <td><%= payment.id %></td>
              <td><%= number_to_currency payment.total_cost %></td>
              <td>
                <% if payment.plan1 %>
                    Premium Deals Services
                <% end %>
              </td>
              <td>
                <% if !(payment.add_on1) && !(payment.add_on2) && !(payment.add_on3)%>
                    <span class="label label-inverse">None</span>

                <% else %>
                    <% if payment.add_on1 %>
                        <span class="label label-info">Push Notification</span>
                    <% end %>
                    <% if payment.add_on2 %>
                        <span class="label label-success">Deal Statistics</span>
                    <% end %>
                    <% if payment.add_on3 %>
                        <span class="label label-warning">Aggregate Trends</span>
                    <% end %>
                <% end %>
              </td>
              <td><%= payment.start_date.strftime("%d/%m/%Y") %> </td>
              <td><%= payment.expiry_date.strftime("%d/%m/%Y") %> </td>
              <td><%= payment.updated_at.strftime("%d/%m/%Y %r")%></td>
              <td>
                <% if payment.add_on1 && payment.add_on2 && payment.add_on3 &&
                        PaymentService.get_overlapping_dates(session[:merchant_id], payment.expiry_date, 1) > 0 %>
                    <%= link_to edit_payment_path(payment), {:style => 'color:#FFFFFF;', :class => "css_class"} do %>
                        <button class="btn btn-xs btn-default disabled" type="button" data-toggle="tooltip" data-placement="top"
                                title="All addons have been bought and extension is not possible due to clashes with other plans">
                          Upgrade
                        </button>
                    <% end %>
                <% elsif payment.total_cost == 0 %>

                <% else %>
                    <%= link_to 'Upgrade', edit_payment_path(payment), class: "btn btn-big btn-success" %>
                <% end %>

              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>