<div class="form-style-10">
  <h1>Select Plan <span>Purchase a plan to enjoy premium features!</span></h1>

  <!-- show list of plans -->
  <div class="panel-group" id="accordion2">
    <% @plan.each do |p| %>
        <div class="panel panel-default" >
          <div class="panel-heading" >
            <h4 class="panel-title">
              <% if p.id == 1 %>
                  <%= p.name %> <span class="label label-warning"><%= number_to_currency p.cost %></span>
              <% else %>
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseInner_<%= p.id %>">
                    <%= p.name %> <span class="label label-warning"><%= number_to_currency p.cost %></span>
                  </a>
              <% end %>
            </h4>
            <h6><%= p.description %></h6>
          </div>
          <% if p.id != 1 %>
              <div id="collapseInner_<%= p.id %>" class="collapse">
          <% end %>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <tr>
                    <th>Add-On(s)</th>
                    <th>Description</th>
                    <th>Extra Cost</th>
                  </tr>

                  <% p.add_ons.each do |a| %>
                      <tr>
                        <td><%= a.name %></td>
                        <td><%= a.description %></td>
                        <td><span class="label label-warning"> +<%= number_to_currency a.cost %></span></td>
                      </tr>
                  <% end %>
                </table>
              </div>
            </div>
          <% if p.id != 1 %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>


  <div class="content-separator"></div>
  <%= form_for @payment, url: payments_path do |f| %>
      <div id="plan1" >
        <div class="form-textarea clearfix">
          <div class="col-lg-7" style="padding-left:0px">
            <p class="form-select half" style="margin-top: 0px;">
              <%= f.label :plan1, "Basic Services", :value => false %>
              <%= f.radio_button :plan1, false, checked: true%>
            </p>

            <p class="form-select" style="margin-top: 0px;">
              <%= f.label :plan1, "Premium Deals Services (#{number_to_currency @plan1.cost})", :value => true %>
              <%= f.radio_button :plan1, true%>
            </p>
          </div>

          <div class="col-lg-5" id="payment_plan1_hint1">
            <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small"><%= @plan_hint %></p>
          </div>
          <div class="col-lg-5" id="payment_plan1_hint2" style="display:none;">
            <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small">Why not choose our addons too to complement your premium deals service?</p>
          </div>
        </div>
      </div>

      <!-- show list of addons -->
      <div id="plan1_true">
        <div class="form-textarea clearfix">
          <div class="col-lg-7"  style="padding-left:0px">
            <p>
              <%= f.label :add_on1, "Include #{@addon1.name} Add-on (#{number_to_currency @addon1.cost})" %>
              <em><%= @addon1.description %></em>
            </p>

            <p class="form-select half" style="margin-top: 0px;">
              <%= f.label :add_on1, "Yes", :value => true %>
              <%= f.radio_button :add_on1, true%>
            </p>
            <p class="form-select" style="margin-top: 0px;">
              <%= f.label :add_on1, "No", :value => false %>
              <%= f.radio_button :add_on1, false%>
            </p>
          </div>

          <div class="col-lg-5" id="addon1_hint1" style="display:none;">
            <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small">Consider our other addons too! <%= @addon1_hint2 %></p>
          </div>
          <div class="col-lg-5" id="addon1_hint2">
            <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small"><%= @addon1_hint1 %></p>
          </div>
        </div>

        <div class="form-textarea clearfix">
          <div class="col-lg-7" id="plan1_true" style="padding-left:0px">
            <p>
              <%= f.label :add_on2, "Include #{@addon2.name} Add-on (#{number_to_currency @addon2.cost})" %>
              <em><%= @addon2.description %></em>
            </p>
            <p class="form-select half" style="margin-top: 0px;">
              <%= f.label :add_on2, "Yes", :value => true %>
              <%= f.radio_button :add_on2, true%>
            </p>
            <p class="form-select" style="margin-top: 0px;">
              <%= f.label :add_on2, "No", :value => false %>
              <%= f.radio_button :add_on2, false%>
            </p>

          </div>

          <div class="col-lg-5" id="addon2_hint1" style="display:none;">
            <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small">Consider our other addons too! <%= @addon2_hint2 %></p>
          </div>

          <div class="col-lg-5" id="addon2_hint2">
            <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small"><%= @addon2_hint1 %></p>
          </div>
        </div>


        <div class="form-textarea clearfix">
          <div class="col-lg-7" id="plan1_true" style="padding-left:0px">
            <p>
              <%= f.label :add_on3, "Include #{@addon3.name} Add-on (#{number_to_currency @addon3.cost})" %>
              <em><%= @addon3.description %></em>
            </p>
            <p class="form-select half" style="margin-top: 0px;">
              <%= f.label :add_on3, "Yes", :value => true %>
              <%= f.radio_button :add_on3, true%>
            </p>
            <p class="form-select" style="margin-top: 0px;">
              <%= f.label :add_on3, "No", :value => false %>
              <%= f.radio_button :add_on3, false%>
            </p>
          </div>

          <div class="col-lg-5" id="addon3_hint1" style="display:none;">
            <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small">Consider our other addons too! <%= @addon3_hint2 %></p>
          </div>

          <div class="col-lg-5" id="addon3_hint2">
            <p style="text-align: justify; color:#F6358A; font-style: italic; font-weight: bold; font-size: small"><%= @addon3_hint1 %></p>
          </div>
        </div>

      </div>




      <!-- choose start date -->
      <p class="form-select clearfix">
        <%= f.label :start_date, "Start Date:" %>
        <span>
                <%= f.text_field :start_date%>
          </span>
      </p>


      <p class="form-select clearfix">
        <%= f.label :months, "Number of months:" %>
        <span>
              <%= f.select :months, (1..12) %>
          </span>



      <p class="form-select clearfix">
        <%= f.submit "Proceed to Checkout", :class => 'btn btn-big btn-success' %>
      </p>

  <% end %>
</div><!-- content-form -->


<!--JQuery for showing hints-->
<script>
    //working
    $('#payment_plan1_true').click(function (event) {
        $('#payment_plan1_hint1').hide();
        $('#payment_plan1_hint2').show();
    });

    $('#payment_plan1_false').click(function (event) {
        $('#payment_plan1_hint1').show();
        $('#payment_plan1_hint2').hide();
    });

    $('#payment_add_on1_true').click(function (event) {
        $('#addon1_hint1').show();
        $('#addon1_hint2').hide();
    });

    $('#payment_add_on1_false').click(function (event) {
        $('#addon1_hint2').show();
        $('#addon1_hint1').hide();

    });

    $('#payment_add_on2_true').click(function (event) {
        $('#addon2_hint1').show();
        $('#addon2_hint2').hide();
    });

    $('#payment_add_on2_false').click(function (event) {
        $('#addon2_hint2').show();
        $('#addon2_hint1').hide();
    });

    $('#payment_add_on3_true').click(function (event) {
        $('#addon3_hint1').show();
        $('#addon3_hint2').hide();
    });

    $('#payment_add_on3_false').click(function (event) {
        $('#addon3_hint2').show();
        $('#addon3_hint1').hide();
    });
</script>