<table class="table table-bordered table-hover table-responsive">
  <tr>
    <th>Photo</th>
    <th>Name of Restaurant</th>
    <th>Street</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>

  <% @venues.each do |venue| %>
      <tr>
        <td><%= image_tag venue.photo.url, :size => "150x150"%></td>
        <td><%= venue.name %></td>
        <td><%= venue.street %></td>
        <td><%= venue.bio %></td>
        <td><%= link_to 'Show', venue_path(venue), class: "btn btn-xs btn-default" %></td>
        <td><%= link_to 'Edit', edit_venue_path(venue), class: "btn btn-xs btn-default" %></td>
        <td>
          <%= link_to 'Delete', venue_path(venue),
                      method: :delete,
                      data: { confirm: 'Are you sure?'},
                      class: "btn btn-xs btn-anger"%>
        </td>
      </tr>
  <% end %>
</table>