<p>
  <strong>Venue Photo</strong><br>
  <% if @venue.photo.present? %>
      <%= cl_image_tag(@venue.photo.path, { size: '100x100', crop: :thumb, gravity: :face }) %>
  <% else %>
      <%= image_tag 'biz/burpple_logo.png', :size => '100x100' %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Street</strong>
  <%= @venue.street %>
</p>

<% if !@venue.address_2.blank? %>
    <p>
      <strong>Mall/Unit No</strong>
      <%= @venue.address_2 %>
    </p>
<% end %>

<p>
  <strong>Postal Code</strong>
  <%= @venue.zipcode %>
</p>


<p>
  <strong>Neighbourhood</strong>
  <%= @venue.neighbourhood %>
</p>

<p>
  <strong>Description</strong>
  <%= @venue.bio %>
</p>

<p>
  <strong>Contact No</strong>
  <%= @venue.phone %>
</p>
