<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Photo</th>
      <th>Name of Restaurant</th>
      <th>Street</th>
      <th>Description</th>
      <th>Wishlisted Users</th>
      <th colspan="3"></th>
    </tr>

    <% @venues.each do |venue| %>
        <tr>
          <td style="min-width: 100px;">
            <% if venue.photo.present? %>
                <%= cl_image_tag(venue.photo.path, { size: '100x100', crop: :fit }) %>
            <% else %>
                <%= image_tag 'biz/burpple_logo.png', :size => '100x100' %>
            <% end %>
          </td>

          <td style="min-width: 100px;"><%= venue.name %></td>
          <td style="min-width: 100px;"><%= venue.street %></td>
          <td><%= venue.bio %></td>
          <td style="font: 20px Arial,sans-serif; text-align: center; color: #EA1F6C;"><%= WishService.num_wishlist_venue(venue.id) %></td>
          <td><%= link_to 'Show', venue_path(venue), class: "btn btn-xs btn-default" %></td>
          <td><%= link_to 'Edit', edit_venue_path(venue), class: "btn btn-xs btn-default" %></td>
          <td>
            <%= link_to 'Delete', venue_path(venue),
                        method: :delete,
                        data: { confirm: 'Are you sure?'},
                        class: "btn btn-xs btn-danger"%>
          </td>
        </tr>
    <% end %>
  </table>
</div>