<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Active Deals (Deals that are now displayed to users)</h4>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover table-responsive">
      <tr>
        <% if @payment.add_on3 %>
            <th>Deal Ranking</th>
        <% end %>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Venue</th>
        <% if @payment.add_on2 %>
            <th>Num Unique Views</th>
            <th>Num Redeems</th>
        <% end %>
      </tr>

      <% @deals.each do |deal| %>
          <% if (deal.expiry_date.future?|| deal.expiry_date.today?) && deal.active %>
              <tr>
                <% if @payment.add_on3 %>
                    <% if deal.redeemable %>
                        <% @ranking.each do |r| %>
                            <% if r[0] == deal.id %>
                                <td id='num'><%= r[1] + 1 %></div></td>
                                <% break %>
                            <% end %>
                        <% end %>
                    <% else %>
                        <td><p id='untracable' data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence data cannot be gathered">N/A</p></td>
                    <% end %>
                <% end %>
                <td><%= deal.title %></td>
                <td>
                  <% if deal.image.present? %>
                      <%= cl_image_tag(deal.image.path, {size: '100x100', crop: :fit}) %>
                  <% else %>
                      <%= image_tag 'biz/burpple_logo.png', :size => '100x100' %>
                  <% end %>
                </td>
                <td><%= deal.description %></td>
                <td><%= deal.start_date.strftime("%d/%m/%Y") %></td>
                <td><%= deal.expiry_date.strftime("%d/%m/%Y") %></td>
                <td>
                  <% deal.venues.each do |venue| %>
                      <%= venue.name %><br/>
                  <% end %>
                </td>
                <% if @payment.add_on2 %>
                    <td id='num'><%= DealAnalyticService.get_unique_view_count(deal.id) %></td>
                    <% if deal.redeemable %>
                        <td id='num'><%= DealAnalyticService.get_redemption_count(deal.id) %></td>
                    <% else %>
                        <td><p id='untracable' data-toggle="tooltip" data-placement="top" title="Deal is not redeemable hence data cannot be gathered">N/A</p></td>
                    <% end %>
                <% end %>
                <td><%= link_to 'Show', deal_path(deal), class: "btn btn-xs btn-default" %></td>
                </tr>
          <% end %>
      <% end %>
      </table>
      </div>
</div>