<div class="content-form">
  <%= form_for @venue, :html => {:multipart => true} do |f| %>
      <p class="form-text clearfix">
        <%= f.label "Name of Restaurant*" %>
        <span><%= f.text_field :name %></span>
      </p>

      <div class="b3 content-subtitle" id="location">Location</div>
      <div class="content-separator"></div>

      <p class="form-text clearfix">
        <%= f.label "Street Address*" %>
        <span><%= f.text_field :street %></span>
      </p>

      <p class="form-text half clearfix">
        <%= f.label "Mall / Unit Number" %>
        <span><%= f.text_field :address_2, :class => 'half' %></span>
      </p>
      <p class="form-text half clearfix">
        <%= f.label "Postal Code*" %>
        <span><%= f.text_field :zipcode, :class => 'half', :placeholder => 'Only numbers' %></span>
      </p>

      <p class="form-select clearfix">
        <% neighbourhoods = [
                ["Choose..", ""], "Alexandra", "Ang Mo Kio", "Ann Siang Hill", "Arab Street",
                "Bayfront", "Bedok", "Bedok Reservoir", "Bencoolen", "Bishan", "Boat Quay", "Boon Keng", "Boon Lay", "Bras Brasah", "Buangkok", "Bugis", "Bukit Batok", "Bukit Merah", "Bukit Panjang", "Bukit Timah", "Buona Vista",
                "Changi", "Chinatown", "Choa Chu Kang", "City Hall", "Clarke Quay", "Clementi",
                "Dempsey", "Dhoby Ghaut", "Dover", "Duxton",
                "Eunos",
                "Farrer Park",
                "Geylang", "Ghim Moh",
                "Harbourfront", "Holland Village", "Hougang",
                "Joo Chiat", "Jurong East",
                "Kallang", "Katong", "Kembangan", "Kent Ridge", "Keppel",
                "Labrador Park", "Lavender", "Lim Chu Kang", "Little India",
                "Macpherson", "Mandai", "Marina Bay", "Marine Parade", "Mountbatten",
                "Newton", "Novena",
                "One North", "Orchard", "Outram",
                "Pasir Panjang", "Pasir Ris", "Paya Lebar", "Potong Pasir", "Pulau Ubin", "Punggol",
                "Queenstown",
                "Raffles Place", "Redhill", "River Valley", "Robertson Quay",
                "Sembawang", "Sengkang", "Sentosa", "Serangoon", "Serangoon Gardens", "Siglap", "Simei", "Simpang", "Sixth Avenue", "Somerset",
                "Tampines", "Tanglin", "Tanjong Pagar", "Telok Blangah", "Thomson", "Tiong Bahru", "Toa Payoh", "Tuas",
                "Upper Bukit Timah",
                "West Coast", "Woodlands",
                "Yio Chu Kang", "Yishun",
                "Others"
        ] %>
        <%= f.label "Neighbourhood*" %>
        <span><%= f.select :neighbourhood, neighbourhoods %></span>
      </p>


      <div class="b3 content-subtitle" id="important-information">Important Information About Your Business</div>
      <div class="content-separator"></div>

      <p class="form-textarea clearfix">
        <%= f.label "Description" %>
        <span><%= f.text_area :bio, :rows => '6', :cols => '30', :placeholder => 'Enter a short description of your business', :style => 'width: 100%' %></span>
      </p>

      <p class="form-text clearfix">
        <%= f.label "Contact Number*" %>
        <span><%= f.text_field :phone, :placeholder => 'Only numbers, do not leave a space' %></span>
      </p>

      <p class="form-text clearfix">
        <%= f.label :photo, 'Upload an image of your venue!' %>
      </p>

      <%= f.attachinary_file_field :photo %>
      <%= f.hidden_field(:photo_cache) %>
      <em>For best effect, upload an image of 150x150</em>

      <div style="margin-top: 30px">
        <%= f.submit "Create Venue", :class => 'btn btn-big btn-success' %>
        <%= link_to 'Back', venues_path, class: "btn btn-big btn-default" %>
      </div>
  <% end %>
</div>
