<p>
  <strong>Venue Photo</strong><br>
  <%= image_tag @venue.photo.url, :size => "150x150" %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Street</strong>
  <%= @venue.street %>
</p>

<p>
  <strong>Mall/Unit No</strong>
  <%= @venue.address_2 %>
</p>

<p>
  <strong>Postal Code</strong>
  <%= @venue.zipcode %>
</p>

<p>
  <strong>City</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>State</strong>
  <%= @venue.state%>
</p>

<p>
  <strong>Country</strong>
  <%= @venue.country %>
</p>

<p>
  <strong>Neighbourhood</strong>
  <%= @venue.neighbourhood %>
</p>

<p>
  <strong>Description</strong>
  <%= @venue.bio %>
</p>

<p>
  <strong>Contact No</strong>
  <%= @venue.phone %>
</p>
