<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">

    <!-- Flash Error Message -->
    <% unless flash.empty? %>
        <div class="flashMessages">
          <% unless flash[:error].blank? %>
              <% flash[:error].each do |msg| %>
                  <div class="alert alert--error"><span>Error! </span><%= msg %></div>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title">My Outlets <%= link_to 'Add new', new_venue_path, class: "btn btn-lg btn-info" %></p>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <!-- Content Body -->
    <%= render :partial => 'form/venue_index_form' %>
    <%= link_to 'Back', venues_path, class: "btn btn-big btn-default" %>

  </div><!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>