<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">
    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title">Add another business or outlet</p>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <!-- Content Body --><!--executing a javascript at the end of the file to do validation when the form is submitted-->
    <%= form_for(@venue,url: venues_path, :html => {:onSubmit => "return validate_getting_started(this);", :class => "venueForm", :multipart => true}) do |f| %>

        <!-- Flash Error Message -->
        <% if @venue.errors.any? %>
            <div id="error_explanation" class="alert alert-error">
              <h2>
                <%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:
              </h2>
              <ul>
                <% @venue.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= render :partial => 'form/venue_create_form' %>

    <% end %>

  </div>
</div>

