<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">

    <!-- Content Body --><!--executing a javascript at the end of the file to do validation when the form is submitted-->
    <%= form_for(@venue,url: venues_path, :html => {:onSubmit => "return validate_getting_started(this);", :class => "venueForm", :multipart => true}) do |f| %>

        <!-- Flash Error Message -->
        <% if @venue.errors.any? %>
            <div id="error_explanation" class="alert alert-error">
              <h2>
                <%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:
              </h2>
              <ul>
                <% @venue.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-style-10">
          <h1> List a new venue!</h1>
          <%= render :partial => 'form/venue_create_form' %>
        </div>

    <% end %>

  </div>
</div>

<%= content_for :form_footer do %>
    <%= render :partial => 'layouts/form_style' %>
<% end %>

