<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div class="form-style-10">
      <h1><%= @venue.name %></h1>
      <%= render :partial => 'form/venue_show_form' %>
    </div>

    <div style="text-align:center">
      <%= link_to 'Edit venue', edit_venue_path, class: "btn btn-xs btn-success" %>
      <%= link_to 'See all outlets', venues_path, class: "btn btn-lg btn-info" %>
    </div>

  </div>
  <!--content-->
</div><!--contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>

<%= content_for :form_footer do %>
    <%= render :partial => 'layouts/form_style' %>
    <%= render :partial => 'layouts/deal_index' %>
<% end %>