<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">

    <!-- post back messages -->
    <% unless flash.empty? %>
        <div class="flashMessages">
          <% unless flash[:error].blank? %>
              <% flash[:error].each do |msg| %>
                  <div class="alert alert--error"><span>Error! </span><%= msg %></div>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <p class="b2 content-title">View Venue <%= link_to 'List a Deal', deals_path, class: "btn btn-lg btn-info" %></p>

    <div class="content-separator"></div>
    <%= render :partial => 'form/venue_show_form' %>

    <%= link_to 'See all outlets', venues_path, class: "btn btn-lg btn-default" %>
  </div>
</div>

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>