 <div class="header">
    <div class="header-content">
        <div class="header-logo">
            <%= link_to image_tag("biz/burpple_logo.png", :alt => "burpple"), biz_dashboard_path %>
        </div>
      
        <div class="header-content-item venueDropdown">
            <% @selectClass = ( @venues.count + @temp_venues.count == 1 ? 'venueDropdown-noselect' : 'venueDropdown-select' ) %>
            <div class="<%= @selectClass %>">
                <a href="#" class="venueDropdown-item">
                    <span class="venueDropdown-item-title"><%= @venue.name %></span>
                    <span class="venueDropdown-item-subtitle"><%= @venue.street %></span>
                </a>
            </div>
            <div class="venueDropdown-dropdown">
                <% unless @venues.blank? or (@venues.count == 1 and @venue_type == "venue") %>
                <div class="venueDropdown-dropdown-header">Verified Venues</div>
                <% @venues.each do |venue| %>
                <% unless venue.id == @venue.id %>
                <%= link_to biz_dashboard_activity_venue_path(venue.id), {class: "venueDropdown-item"} do %>
                    <span class="venueDropdown-item-title"><%= venue.name %></span>
                    <span class="venueDropdown-item-subtitle"><%= venue.street %></span>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
                <% unless @temp_venues.blank? or (@temp_venues.count == 1 and @venue_type == "temp_venue") %>
                <div class="venueDropdown-dropdown-header">Unverified Venues</div>
                <% @temp_venues.each do |temp_venue| %>
                <% unless temp_venue.id == @venue.id %>
                <%= link_to biz_dashboard_edit_temp_venue_path(temp_venue.id), {class: "venueDropdown-item"} do %>
                    <span class="venueDropdown-item-title"><%= temp_venue.name %></span>
                    <span class="venueDropdown-item-subtitle"><%= temp_venue.street %></span>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
            </div>
        </div>

        <div class="header-content-item newBtn">
            <%= link_to "Add Another Business or Outlet", biz_dashboard_new_path, { :class=> "btn" } %>
        </div>

        <div class="header-content-item logoutBtn">
            <%= link_to "Help", biz_help_path, {:class => "help"} %>
            <%= link_to "Sign Out", destroy_merchant_session_path, { :class=> "btn", :method => :delete } %>
        </div>
    </div>
</div>

<div class="nav">
    <ul>
        <% if @venue_type == "temp_venue" %>
            <li><%= link_to "Edit Listing", biz_dashboard_edit_temp_venue_path,  {:class => @editSelected} %></li>
            <li><%= link_to "Premium Listing", biz_dashboard_promotions_temp_venue_path,  {:class => @promotionsSelected} %></li>
        <% else %>
            <% if [12, 277].include?(@merchant_id) %>
            <li><%= link_to "Activity", biz_dashboard_activity_venue_path(@venue.id),  {:class => @statsSelected} %></li>
            <% end %>
            <li><%= link_to "View Listing",  web_venue_url(@venue.url_key || @venue.id, :subdomain => Rails.env.production? ? 'www' : 'eli'), :target => "_blank"%></li>
            <li><%= link_to "Edit Listing", biz_dashboard_edit_venue_path(@venue.id),  {:class => @editSelected} %></li>
            <li><%= link_to "Premium Listing", biz_dashboard_promotions_venue_path(@venue.id),  {:class => @promotionsSelected} %></li>
            <% if [12, 277].include?(@merchant_id) %>
            <li><%= link_to "List a deal", new_biz_dashboard_venue_promotion_path(@venue.id),  {:class => @dealSelected}  %></li>
            <% end %>
        <% end %>
    </ul>
</div>


<%= content_for :body_footer do %>
<div class="navMobileFooter">
    <%= link_to "Add Another Business or Outlet", biz_dashboard_new_path, { :class=> "" } %>
    <%= link_to "Help", biz_help_path, {:class => ""} %>
    <%= link_to "Sign Out", destroy_merchant_session_path, { :class=> "", :method => :delete } %>
</div>

<script>
  $('.venueDropdown-select').click(function() {
    $('.venueDropdown-dropdown').toggle();
    $(this).toggleClass('venueDropdown-select--selected');
  });
</script>
<% end %>
