<div class="header">
  <div class="header-content">
    <div class="header-logo">
      <%= link_to image_tag("biz/burpple_logo.png", :alt => "burpple"), deals_path %>
    </div>

    <div class="header-content-item venueDropdown">
      <%# @selectClass = ( @venues.count + @temp_venues.count == 1 ? 'venueDropdown-noselect' : 'venueDropdown-select' ) %>
      <div class="<%= @selectClass %>">
        <a href="#" class="venueDropdown-item">
          <span class="venueDropdown-item-title"><%= @venue.name %></span>
          <span class="venueDropdown-item-subtitle"><%= @venue.street %></span>
        </a>
      </div>
      <div class="venueDropdown-dropdown">
        <% unless @venues.blank? or (@venues.count == 1 and @venue_type == "venue") %>
            <div class="venueDropdown-dropdown-header">Verified Venues</div>
            <% @venues.each do |venue| %>
                <% unless venue.id == @venue.id %>
                    <%= link_to venue_path(venue.id), {class: "venueDropdown-item"} do %>
                        <span class="venueDropdown-item-title"><%= venue.name %></span>
                        <span class="venueDropdown-item-subtitle"><%= venue.street %></span>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <% unless @temp_venues.blank? or (@temp_venues.count == 1 and @venue_type == "temp_venue") %>
            <div class="venueDropdown-dropdown-header">Unverified Venues</div>
            <% @temp_venues.each do |temp_venue| %>
                <% unless temp_venue.id == @venue.id %>
                    <%= link_to biz_dashboard_edit_temp_venue_path(temp_venue.id), {class: "venueDropdown-item"} do %>
                        <span class="venueDropdown-item-title"><%= temp_venue.name %></span>
                        <span class="venueDropdown-item-subtitle"><%= temp_venue.street %></span>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="header-content-item newBtn">
      <%= link_to "Add Another Business or Outlet", new_venue_path, { :class=> "btn" } %>
    </div>

    <div class="header-content-item logoutBtn">
      <%= link_to "Help", deals_path, {:class => "help"} %>
      <%= link_to "Sign Out", deals_path, { :class=> "btn", :method => :delete } %>
    </div>
  </div>
</div>

<div class="nav">
  <ul>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personal Settings <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Account Settings</a></li>
        <li><a href="#">Billing</a></li>
      </ul>
    </li>
    <li><%= link_to "Activity", deals_path %></li>
    <li><%= link_to "View Listing",  deals_path%></li>
    <li><%= link_to "Edit Listing", deals_path %></li>
    <li><%= link_to "Premium Listing", deals_path %></li>
    <li><%= link_to "List a deal", deals_path %></li>
  </ul>
</div>


<%= content_for :body_footer do %>
    <div class="navMobileFooter">
      <%= link_to "Add Another Business or Outlet", deals_path, { :class=> "" } %>
      <%= link_to "Help", deals_path, {:class => ""} %>
      <%= link_to "Sign Out", deals_path, { :class=> "", :method => :delete } %>
    </div>

    <script>
        $('.venueDropdown-select').click(function() {
            $('.venueDropdown-dropdown').toggle();
            $(this).toggleClass('venueDropdown-select--selected');
        });
    </script>
<% end %>
