<div class="header">
  <div class="header-content">
    <div class="header-logo">
      <%= link_to image_tag("biz/burpple_logo.png", :alt => "burpple"), deals_path %>
    </div>

    <% if (@venue)  %>
        <div class="header-content-item venueDropdown">
          <% @selectClass = ( @venues.count == 0 ? 'venueDropdown-noselect' : 'venueDropdown-select' ) %>
          <div class="<%= @selectClass %>">
            <a href="#" class="venueDropdown-item">
              <span class="venueDropdown-item-title"><%= @venue.name %></span>
              <span class="venueDropdown-item-subtitle"><%= @venue.street %></span>
            </a>
          </div>

          <div class="venueDropdown-dropdown">
            <% unless @venues.blank? or (@venues.count == 1 ) %>
                <div class="venueDropdown-dropdown-header">Verified Venues</div>
                <% @venues.each do |venue| %>
                    <% unless venue.id == @venue.id %>
                        <%= link_to venue_path(venue.id), {class: "venueDropdown-item"} do %>
                            <span class="venueDropdown-item-title"><%= venue.name %></span>
                            <span class="venueDropdown-item-subtitle"><%= venue.street %></span>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
    <% else %>
        <div class="header-content-item merchantDropdown" style="padding: 30px">
          <span class="text-uppercase"><%= current_merchant.email %></span>
        </div>
    <% end  %>

    <div class="header-content-item newBtn">
      <%= link_to "Add Another Business or Outlet", new_venue_path, { :class=> "btn" } %>
    </div>

    <div class="header-content-item logoutBtn">
      <%= link_to "Feedback", merchant_feedbacks_path, {:class => "help"} %>
      <%= link_to "Sign Out", destroy_merchant_session_path, { :class=> "btn", :method => :delete } %>
    </div>
  </div>
</div>

<div class="nav">
  <ul class="nav-menu">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personal Settings <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Profile", nil %></li>
        <li><%= link_to "Billing", payments_path %></li>
        <li><%= link_to "Burps", merchant_points_path %></li>
      </ul>
    </li>
    <li><%= link_to "Activity", nil %></li>
    <li><%= link_to "View Venues", venues_path%></li>
    <li><%= link_to "Deal Listing", deals_path %></li>
    <% if DealAnalyticService.check_deal_analytics(session[:merchant_id]) == 1 %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deal Analytics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "By Deals", analytics_path %></li>
            <li><%= link_to "By Venues", analytics_venue_path %></li>
            <li><%= link_to "Aggregate Trends", analytics_trends_path %></li>
          </ul>
        </li>
    <% elsif DealAnalyticService.check_deal_analytics(session[:merchant_id]) == 2 %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deal Analytics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "By Deals", analytics_path %></li>
            <li><%= link_to "By Venues", analytics_venue_path %></li>
          </ul>
        </li>
    <% elsif DealAnalyticService.check_deal_analytics(session[:merchant_id]) == 3 %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deal Analytics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Aggregate Trends", analytics_trends_path %></li>
          </ul>
        </li>
    <% end %>
  </ul>
</div>

<%= content_for :body_footer do %>
    <div class="navMobileFooter">
      <%= link_to "Add Another Business or Outlet", new_venue_path, { :class=> "btn" } %>
      <%= link_to "Help", nil, {:class => "help"} %>
      <%= link_to "Sign Out", destroy_merchant_session_path, { :class=> "btn", :method => :delete } %>
    </div>

    <script>
        $('.venueDropdown-select').click(function() {
            $('.venueDropdown-dropdown').toggle();
            $(this).toggleClass('venueDropdown-select--selected');
        });

        $( window ).on('resize', function() {
            if ( window.matchMedia('(max-width: 645px)').matches) {
                $('li.dropdown ul').removeClass('dropdown-menu');
            } else {
                $('li.dropdown ul').addClass('dropdown-menu');
            }
        }).resize();
    </script>

<% end %>

