<h1>Editing deal</h1>

<% if @deal.start_date.today? || @deal.expiry_date.today? || (@deal.start_date.past? && @deal.expiry_date.future?) %>
    <h2>As your deal is ongoing, you are only allowed to change certain details.</h2>
    <%= form_for :deal, url: deal_path(@deal), method: :patch do |f| %>

        <% if @deal.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@deal.errors.count, "error") %> prohibited
                this deal from being saved:
              </h2>
              <ul>
                <% @deal.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <p>
          <%= f.label :description, "Description of your deal" %><br>
          <%= f.text_field :description%>
        </p>

        <p>
          <%= f.submit %>
        </p>

    <% end %>

<% else %>
    <%= form_for :deal, url: deal_path(@deal), method: :patch do |f| %>

        <% if @deal.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@deal.errors.count, "error") %> prohibited
                this deal from being saved:
              </h2>
              <ul>
                <% @deal.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div>
          <p>
            <%= f.label :name_of_deal, "Title of Deal" %><br>
            <%= f.text_field :name_of_deal%>
          </p>

          <p>
            <%= f.label :type_of_deal, "Type of Deal" %><br>
            <%= f.select :type_of_deal, [['1 for 1','1_for_1'],['10% off','10% off']] %>
          </p>

          <p>
            <%= f.label :description, "Description of your deal" %><br>
            <%= f.text_field :description%>
          </p>

          <p>
            Deal Period: <br>
            <%= f.label :start_date, "Start:" %>
            <%= f.text_field :start_date%>

            <%= f.label :expiry_date, "End:" %>
            <%= f.text_field :expiry_date %>
          </p>

          <p>
            Periods where deal is offered:<br>
            <%= f.check_box :monday%>Monday
            <%= f.check_box :tuesday%>Tuesday
            <%= f.check_box :wednesday%>Wednesday
            <%= f.check_box :thursday%>Thursday
            <%= f.check_box :friday%>Friday
            <%= f.check_box :saturday%>Saturday
            <%= f.check_box :sunday%>Sunday
          <div id="monday_true">
            Monday:<br>
            Start: <%= f.time_select :monday_start, :minute_step => 30, :include_blank => true  %>
            End:<%= f.time_select :monday_end, :minute_step => 30, :include_blank => true  %>
          </div>
          <div id="tuesday_true">
            Tuesday:<br>
            Start: <%= f.time_select :tuesday_start, :minute_step => 30, :include_blank => true %>
            End:<%= f.time_select :tuesday_end, :minute_step => 30, :include_blank => true %>
          </div>
          <div id="wednesday_true">
            Wednesday:<br>
            Start: <%= f.time_select :wednesday_start, :minute_step => 30, :include_blank => true  %>
            End:<%= f.time_select :wednesday_end, :minute_step => 30, :include_blank => true  %>
          </div>
          <div id="thursday_true">
            Thursday:<br>
            Start: <%= f.time_select :thursday_start, :minute_step => 30, :include_blank => true  %>
            End:<%= f.time_select :thursday_end, :minute_step => 30, :include_blank => true  %>
          </div>
          <div id="friday_true">
            Friday:<br>
            Start: <%= f.time_select :friday_start, :minute_step => 30, :include_blank => true  %>
            End:<%= f.time_select :friday_end, :minute_step => 30, :include_blank => true  %>
          </div>
          <div id="saturday_true">
            Saturday:<br>
            Start: <%= f.time_select :saturday_start, :minute_step => 30, :include_blank => true  %>
            End:<%= f.time_select :saturday_end, :minute_step => 30, :include_blank => true  %>
          </div>
          <div id="sunday_true">
            Sunday:<br>
            Start: <%= f.time_select :sunday_start, :minute_step => 30, :include_blank => true  %>
            End:<%= f.time_select :sunday_end, :minute_step => 30, :include_blank => true  %>
          </div>

          </p>
          <p>
            <%= f.label :location %><br>
            <%= f.select :location, [['All Outlets','all_outlets'],['Clementi','clementi']] %>
          </p>

          <p>
            <%= f.label :t_c, 'Terms and Conditions' %><br>
            <%= f.text_field :t_c%>
          </p>

          <p>
            <%= f.label :pushed, 'Would you like to push to those who have wishlisted?' %><br>
            <%= f.label :pushed, "Yes", :value => true %>
            <%= f.radio_button :pushed, true%>
            <%= f.label :pushed, "No", :value => false %>
            <%= f.radio_button :pushed, false%>
          </p>
        </div>

        <div id= "redeemable">
          <%= f.label :redeemable, "Would you like users to redeem through deal code? (Helps gather analytics)" %><br>
          <%= f.label :redeemable, "Yes", :value => true %>
          <%= f.radio_button :redeemable, true%>
          <%= f.label :redeemable, "No", :value => false %>
          <%= f.radio_button :redeemable, false%>
          <br></br>
          <div id="redeemable_true">
            <%= f.label :multiple_use, "Would you like to enable users to have unlimited use of Deals or each User can only redeem once?" %><br>
            <%= f.label :multiple_use, "Unlimited", :value => true %>
            <%= f.radio_button :multiple_use, true %>
            <%= f.label :multiple_use, "Once", :value => false %>
            <%= f.radio_button :multiple_use, false%>
            <br></br>
          </div>
        </div>

        <p>
          <%= f.submit %>
        </p>

    <% end %>
<% end %>

<%= link_to 'Back', deals_path %>