<h1>Listing deals</h1>
<%= link_to 'New deal', new_deal_path %>
<table>
  <tr>
    <th>Title of Deal</th>
    <th>Deal Start Date</th>
    <th>Deal Expiry Date</th>
  </tr>

  <% @deal.each do |deal| %>
      <tr>
        <td><%= deal.name_of_deal %></td>
        <td><%= deal.start_date %></td>
        <td><%= deal.expiry_date %></td>
        <td><%= link_to 'Show', deal_path(deal) %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Delete', deal_path(deal),
                        method: :delete,
                        data: { confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>