<h1>Listing deals</h1>
<%= link_to 'New deal', new_deal_path %><br>
<h2>Active</h2>
<table>
  <tr>
    <th>Title of Deal</th>
    <th>Deal Start Date</th>
    <th>Deal Expiry Date</th>
  </tr>
  <% @deal.each do |deal| %>
      <% if deal.start_date.today? || deal.expiry_date.today? || (deal.start_date.past? && deal.expiry_date.future?) %>
          <tr>
            <td><%= deal.name_of_deal %></td>
            <td><%= deal.start_date %></td>
            <td><%= deal.expiry_date %></td>
            <td><%= link_to 'Show', deal_path(deal) %></td>
            <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<h2>Coming Soon</h2>
<table>
  <tr>
    <th>Title of Deal</th>
    <th>Deal Start Date</th>
    <th>Deal Expiry Date</th>
  </tr>
  <% @deal.each do |deal| %>
      <% if deal.start_date.future? %>
          <tr>
            <td><%= deal.name_of_deal %></td>
            <td><%= deal.start_date %></td>
            <td><%= deal.expiry_date %></td>
            <td><%= link_to 'Show', deal_path(deal) %></td>
            <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
            <td><%= link_to 'Delete', deal_path(deal),
                            method: :delete,
                            data: { confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<h2>Past</h2>
<table>
  <tr>
    <th>Title of Deal</th>
    <th>Deal Start Date</th>
    <th>Deal Expiry Date</th>
  </tr>
  <% @deal.each do |deal| %>
      <% if deal.expiry_date.past? %>
          <tr>
            <td><%= deal.name_of_deal %></td>
            <td><%= deal.start_date %></td>
            <td><%= deal.expiry_date %></td>
            <td><%= link_to 'Show', deal_path(deal) %></td>
          </tr>
      <% end %>
  <% end %>
</table>