<%= render 'layouts/biz/dash' %>
<div class="contentWrapper">
  <div class="content">

    <!-- Flash Error Message -->
    <% if @deal.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@deal.errors.count, "error") %> prohibited
            this deal from being saved:
          </h2>
          <ul>
            <% @deal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title">List a deal</p>
      <h4>Get more customers excited about your place by simply listing a deal on your page. It's free!</h4>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <!-- Content Body -->
    <%= render :partial => 'form/deal_create_form' %>

    <%= content_for :lean_overlay do %>
    <% end %>

    <%= link_to 'Back', deals_path %>

  </div><!-- /content -->
</div><!-- /contentWrapper -->

