<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <p class="b2 content-title">View Deals</p>
    <div class="content-separator"></div>

    <!-- Content Body -->
    <%= render :partial => 'form/deal_show_form' %>
    <div style="text-align:center">
    <%= link_to 'See all deals', deals_path, class: "btn btn-big btn-info" %>
    </div>
  </div>
</div>

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
    <%= render :partial => 'layouts/deals_forms_css' %>
<% end %>