<p>
  <strong>Title of Deal:</strong>
  <%= @deal.name_of_deal %><br>

  <strong>Type of Deal:</strong>
  <%= @deal.type_of_deal %><br>

  <strong>Description:</strong>
  <%= @deal.description %><br>

  <strong>Deal Start Date:</strong>
  <%= @deal.start_date %><br>

  <strong>Expiry Date:</strong>
  <%= @deal.expiry_date %><br>

  <strong> Days:</strong>
  <% for deal_hour in @deal.deal_hours%>
      <%=h deal_hour.day %> <br>
  <% end %>

  <% if @deal.monday %>
      <strong>Monday:</strong>
      <%= @deal.monday_start %>
       to
      <%= @deal.monday_end %><br>
  <% end %>

  <% if @deal.tuesday %>
      <strong>Tuesday:</strong>
      <%= @deal.tuesday_start %>
       to
      <%= @deal.tuesday_end %><br>
  <% end %>

  <% if @deal.wednesday %>
      <strong>Wednesday:</strong>
      <%= @deal.wednesday_start %>
       to
      <%= @deal.wednesday_end %><br>
  <% end %>

  <% if @deal.thursday %>
      <strong>Thursday:</strong>
      <%= @deal.thursday_start %>
       to
      <%= @deal.thursday_end %><br>
  <% end %>

  <% if @deal.friday %>
      <strong>Friday:</strong>
      <%= @deal.friday_start %>
       to
      <%= @deal.friday_end %><br>
  <% end %>

  <% if @deal.saturday %>
      <strong>Saturday:</strong>
      <%= @deal.saturday_start %>
       to
      <%= @deal.saturday_end %><br>
  <% end %>

  <% if @deal.sunday %>
      <strong>Sunday:</strong>
      <%= @deal.sunday_start %>
       to
      <%= @deal.sunday_end %><br>
  <% end %>

  <strong>Location:</strong>
  <%= @deal.location %><br>

  <strong>Terms and Condition:</strong>
  <%= @deal.t_c %><br>

  <strong>Has the deal been pushed to users?</strong>
  <%= @deal.pushed %><br>

  <strong>Can your code be redeemed?</strong>
  <% if @deal.redeemable %>
      Yes <br>
      <strong>How many times can this deal be redeemed per user?</strong>
      <% if !@deal.multiple_use %>
          Once per user <br>
      <% else %>
          Unlimited Redemptions <br>
      <% end %>
  <% else %>
      No <br>
  <% end %>


  <strong>Image:</strong>
  <%= @deal.image %>
</p>


<%= link_to 'Back', deals_path %>