<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div class="form-style-10">
      <h1><%= @deal.title %></h1>

      <!-- Content Body -->
      <%= render :partial => 'form/deal_show_form' %>
    </div>


  </div>
</div>

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>

<%= content_for :form_footer do %>
    <%= render :partial => 'layouts/form_style' %>
<% end %>