<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">
    <!-- Flash Error Message -->
    <% if @payment.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h5>
            <%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:
          </h5>
          <ul>
            <% @payment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!-- Content Heading -->

    <!-- Content Body -->
    <%= render :partial => 'form/payment_edit_form' %>


  </div><!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
    <%= render :partial => 'layouts/gift_index' %>
<% end %>

<%= content_for :form_footer do %>
    <%= render :partial => 'layouts/form_style' %>
<% end %>