<%= render 'layouts/biz/dash' %>
<!--delete??-->
<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title">Extend Plan</p>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>


    <%= form_for @payment, url: payments_extend_path do |f| %>
        <!-- choose start date -->
        <p class= "form-select clearfix">
        <%= f.label :start_date, "Start Date:" %>
        <span>
        <%= f.text_field :start_date %>
        </span>
        </p>

        <p class= "clearfix" >
          <%= f.submit "Confirm extension start date" , :class => 'btn btn-big btn-success' %>
    <% end %>

  </div><!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>


