<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">

    <!-- post back messages -->
    <% unless flash.empty? %>
        <div class="flashMessages">
          <% unless flash[:error].blank? %>
              <% flash[:error].each do |msg| %>
                  <div class="alert alert--error"><span>Error! </span><%= msg %></div>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title">Make Payment</p>
      <%= link_to 'Upgrade Plan', new_payment_path, class: "btn btn-big btn-success" %>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <!-- Content Body -->
    <table class="table table-bordered table-hover table-responsive">
      <tr>
        Payment History
        <th>Payment Date</th>
        <th>Amount</th>
        <th>Payment Items</th>
        <th>Validity of Upgrades</th>

        <th colspan="3"></th>
      </tr>


      <% @payments.each do |payment| %>
          <tr>
            <td></td>
            <td><%= payment.total_cost %></td>
            <td><%= payment.plan1 %></td>
            <td><%= payment.start_date %> </td>

          </tr>
      <% end %>
    </table>

    <%= link_to 'Back', deals_path, class: "btn btn-big btn-default" %>

  </div><!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>


