<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title">Business Payments <%= link_to 'Click here to add new plan', new_payment_path, class: "btn btn-big btn-success" %></p>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <!-- Content Body -->
    <%= render :partial => 'form/payment_index_form' %>

  </div><!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>

<%= content_for :form_footer do %>
    <%= render :partial => 'layouts/gift_index' %>
<% end %>

