<%= render 'layouts/biz/dash' %>

<div class="contentWrapper">
  <div class="content">

    <!--Flash messages-->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <!-- Content Heading -->
    <div class="pull-left">
      <p class="b2 content-title"> Contact Us <%= link_to 'New Feedback', new_feedback_path, class: "btn btn-lg btn-info" %></p>
    </div>

    <div class="clearfix"></div>
    <div class="content-separator"></div>

    <%= render :partial => 'form/feedback_index_form' %>

  </div><!-- /content -->
</div><!-- /contentWrapper -->

<%= content_for :lean_overlay do %>
<% end %>

<%= content_for :body_footer do %>
<% end %>