<p> Hi  <%= @user %>!</p>

<p>Congratulations! You have successfully listed a deal on Burpple!</p>
<p>Type of Deal: <%= @deal_type %> </p>
<p>Start Date: <%= @deal_start %></p>
<p>Expiry Date: <%= @deal_end %></p>
<p>Location: <%= @deal_location %></p>
<p>Multiple Use: <%= @deal_multiple %></p>
<p>QR Code Redeemable: <%= @deal_redeemable %></p>
<p>To view your deal listing on Burpple, follow this link: <%= @url %> </p>

<p>Thank you for using Burpple. Have a nice day!</p>

<p>Best regards,</p>
<p>Dixon</p>