<p> Dear Valued Merchant!</p><br/>

<p>You have successfully updated a deal on Burpple!<br>Following which are the new details of your deal.</p>
<p>
  <strong><font size = "2">Title</font></strong><br>
  <%= @deal.title %>
</p>

<p>
  <strong><font size = "2">Type of Deal</font></strong><br>
  <%= @deal.type_of_deal %><br>
</p>

<p>
  <strong><font size = "2">Description</font></strong><br>
  <%= @deal.description %><br>
</p>

<p>
  <strong><font size = "2">Deal Period</font></strong><br>
  <strong><%= @deal.start_date.strftime("%d/%m/%Y") %></strong> to <strong><%= @deal.expiry_date.strftime("%d/%m/%Y") %></strong>

  <% for deal_day in @deal.deal_days%>
      <br>
      <strong><%= DealService.format_days(deal_day) %>:</strong>
      <% for deal_time in deal_day.deal_times%>
          <%=h deal_time.started_at.strftime("%H:%M") %> to <%=h deal_time.ended_at.strftime("%H:%M") %>&nbsp;&nbsp;
          <% end %><% end %>
</p>

<p>
  <strong><font size = "4">Venue</font></strong><br>
  <% @deal.venues.each do |venue| %>
      <span><%= venue.name %></span>&nbsp;&nbsp;
  <% end %>
</p>

<p>
  <strong><font size = "2">Terms and Condition</font></strong><br>
  <%= @deal.t_c %>
</p>

<p>
  <strong><font size = "2">Can your deal be redeemed?</font></strong><br>
  <% if @deal.redeemable %>
      Yes <br><br>
      <strong><font size = "2">How many times can this deal be redeemed per user?</font></strong><br>
      <% if !@deal.multiple_use %>
          Once per user <br>
      <% else %>
          Unlimited Redemptions <br>
      <% end %>
  <% else %>
      No <br>
  <% end %>
</p>

<p>
  <% if @deal.redeemable %>
      To download your QRCodes, please go to the following link <%= @pdf %><br>
  <% end %>
</p>

<p>To view your deal listing or edit your deal listing on Burpple, follow this link: <%= @url %> </p>

<p>Thank you for using Burpple. Have a nice day!</p>

<p>Best regards,</p>
<p>Burpple</p>